@font-face {
    font-family: "DejaVu Sans";
    src: url("../fonts/DejaVu/DejaVuSans.ttf") format("truetype")
}

@font-face {
    font-family: "DejaVu Sans";
    font-weight: bold;
    src: url("../fonts/DejaVu/DejaVuSans-Bold.ttf") format("truetype")
}

@font-face {
    font-family: "DejaVu Sans";
    font-style: italic;
    src: url("../fonts/DejaVu/DejaVuSans-Oblique.ttf") format("truetype")
}

@font-face {
    font-family: "DejaVu Sans";
    font-weight: bold;
    font-style: italic;
    src: url("../fonts/DejaVu/DejaVuSans-BoldOblique.ttf") format("truetype")
}

@font-face {
    font-family: "DejaVu Serif";
    src: url("../fonts/DejaVu/DejaVuSerif.ttf") format("truetype")
}

@font-face {
    font-family: "DejaVu Serif";
    font-weight: bold;
    src: url("../fonts/DejaVu/DejaVuSerif-Bold.ttf") format("truetype")
}

@font-face {
    font-family: "DejaVu Serif";
    font-style: italic;
    src: url("../fonts/DejaVu/DejaVuSerif-Italic.ttf") format("truetype")
}

@font-face {
    font-family: "DejaVu Serif";
    font-weight: bold;
    font-style: italic;
    src: url("../fonts/DejaVu/DejaVuSerif-BoldItalic.ttf") format("truetype")
}

@font-face {
    font-family: "DejaVu Mono";
    src: url("../fonts/DejaVu/DejaVuSansMono.ttf") format("truetype")
}

@font-face {
    font-family: "DejaVu Mono";
    font-weight: bold;
    src: url("../fonts/DejaVu/DejaVuSansMono-Bold.ttf") format("truetype")
}

@font-face {
    font-family: "DejaVu Mono";
    font-style: italic;
    src: url("../fonts/DejaVu/DejaVuSansMono-Oblique.ttf") format("truetype")
}

@font-face {
    font-family: "DejaVu Mono";
    font-weight: bold;
    font-style: italic;
    src: url("../fonts/DejaVu/DejaVuSansMono-BoldOblique.ttf") format("truetype")
}

.k-grid-container .k-icon, .k-grid-container .k-tool-icon, .k-grid-container .k-grouping-dropclue, .k-grid-container .k-drop-hint, .k-grid-container .k-column-menu .k-sprite, .k-grid-container .k-grid-mobile .k-resize-handle-inner:before, .k-grid-container .k-grid-mobile .k-resize-handle-inner:after, .k-grid-container .k-pager-numbers .k-current-page .k-link:after, .k-grid-container .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link:after {
    background-image: url('../../images/kendo/sprite.png');
}

.k-grid-container .k-mobile-list .k-check:checked, .k-grid-container .k-mobile-list .k-edit-field [type=checkbox]:checked, .k-grid-container .k-mobile-list .k-edit-field [type=radio]:checked {
    background-image: url('../../images/kendo/sprite.png');
}

.k-grid-container .k-loading, .k-grid-container .k-state-hover .k-loading {
    background-image: url('../../images/kendo/loading.gif');
}

.k-grid-container .k-loading-image {
    background-image: url('../../images/kendo/loading-image.gif')
}

.k-grid-container .k-tool-icon {
    background-image: url('../../images/kendo/sprite.png')
}

.k-grid-container .k-progressbar-indeterminate {
    background: url('../../images/kendo/indeterminate.gif')
}

.k-grid-container .k-slider-horizontal .k-tick {
    background-image: url('../../images/kendo/slider-h.gif')
}

.k-grid-container .k-slider-vertical .k-tick {
    background-image: url('../../images/kendo/slider-v.gif')
}

.k-grid-container .k-filebrowser .k-tile .k-folder, .k-grid-container .k-filebrowser .k-tile .k-file {
    background-image: url('../../images/kendo/imagebrowser.png');
}

.k-grid-container .k-i-kpi-decrease, .k-grid-container .k-i-kpi-denied, .k-grid-container .k-i-kpi-equal, .k-grid-container .k-i-kpi-hold, .k-grid-container .k-i-kpi-increase, .k-i-kpi-open {
    background-image: url('../../images/kendo/sprite_kpi.png')
}

@media screen and (-ms-high-contrast: active) and (-ms-high-contrast: none) {

    .k-grid-container .km-pane-wrapper .k-icon {
        background-image: url('../../images/kendo/sprite_2x.png');
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    .k-grid-container .k-icon:not(.k-loading), .k-grouping-dropclue, .k-drop-hint, .k-callout, .k-tool-icon, .k-state-hover .k-tool-icon, .k-state-active .k-tool-icon, .k-state-active.k-state-hover .k-tool-icon, .k-state-selected .k-tool-icon, .k-state-selected.k-state-hover .k-tool-icon, .k-column-menu .k-sprite, .k-mobile-list .k-check:checked, .k-mobile-list .k-edit-field [type=checkbox]:checked, .k-mobile-list .k-edit-field [type=radio]:checked {
        background-image: url('../../images/kendo/sprite_2x.png');
    }

    .k-grid-container .k-i-kpi-decrease, .k-i-kpi-denied, .k-i-kpi-equal, .k-i-kpi-hold, .k-i-kpi-increase, .k-i-kpi-open {
        background-image: url('../../images/kendo/sprite_kpi_2x.png');
    }
}

.k-grid-container .k-icon, .k-grid-container .k-tool-icon, .k-grid-container .k-grouping-dropclue, .k-grid-container .k-drop-hint, .k-grid-container .k-column-menu .k-sprite, .k-grid-container .k-grid-mobile .k-resize-handle-inner:before, .k-grid-container .k-grid-mobile .k-resize-handle-inner:after, .k-grid-container .k-pager-numbers .k-current-page .k-link:after, .k-grid-container .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link:after {
    background-image: url('../../images/kendo/sprite.png');
    border-color: transparent
}

.k-grid-container .k-mobile-list .k-check:checked, .k-grid-container .k-mobile-list .k-edit-field [type=checkbox]:checked, .k-grid-container .k-mobile-list .k-edit-field [type=radio]:checked {
    background-image: url('../../images/kendo/sprite.png');
    border-color: transparent
}

.k-grid-container .k-loading, .k-grid-container .k-state-hover .k-loading {
    background-image: url('../../images/kendo/loading.gif');
    background-position: 50% 50%
}

.k-grid-container .k-loading-image {
    background-image: url('../../images/kendo/loading-image.gif')
}

.k-icon, .k-tool-icon, .k-grouping-dropclue, .k-drop-hint, .k-column-menu .k-sprite, .k-grid-mobile .k-resize-handle-inner:before, .k-grid-mobile .k-resize-handle-inner:after, .k-pager-numbers .k-current-page .k-link:after, .k-scheduler-toolbar>ul.k-scheduler-views>li.k-current-view>.k-link:after{
    background-image: url('../../images/kendo/sprite.png');
}
