@font-face {
    font-family: 'Material Design Iconic Font';
    src: url('fonts/Material-Design-Iconic-Font.eot?v=1.0.1');
    src: url('fonts/Material-Design-Iconic-Font.eot?#iefix&v=1.0.1') format('embedded-opentype'), url('fonts/Material-Design-Iconic-Font.woff?v=1.0.1') format('woff'), url('fonts/Material-Design-Iconic-Font.ttf?v=1.0.1') format('truetype'), url('fonts/Material-Design-Iconic-Font.svg?v=1.0.1#Material-Design-Iconic-Font') format('svg');
    font-weight: 400;
    font-style: normal;
}
/*body{
	min-width: 1200px !important;
	overflow: scroll;
}*/
p{
	font-size: 18px ;
	line-height: 1.4em;
	font-family: 'PFAgoraSansPro-Reg';
}
img{
	max-width: 100%;
}
.text-center{
	text-align: center;
}
h1{
	margin-bottom: 40px;
	color: #0aa89e;
}
header button.pull-right{
	display: inline-block;
	margin-top: 15px;
}
.iphone-detail .about-iphone p{
	margin-bottom: 30px;
}
.submenu{
	background: rgb(60, 61, 84);
	padding: 15px 0;
	margin-top: 15px;
	position: relative;
	z-index: 10;
	display: none;
}
.submenu ul li a{
	color: #fff;
	margin: 0 40px 0 0;
	font-size: 16px;
}
.submenu ul li a:hover{
	text-decoration: underline
}
ul.list-unstyled li{
  color: #5A5A5A;
  line-height: 1.5em;
  margin-bottom: 14px;
  font-size: 18px;
}
.list-inline li{
	display: inline-block;
}
.green-txt{
	color: #0aa89e !important;
}
.helper{
	width: 25px;
	height: 25px;
}
.time{
	padding-left: 10px;
	font-size: 15px;
}
.name-list{
	margin-bottom: 0px !important;
}
h3{
	font-size: 25px;
	color: #636c6c;
	margin: 20px 0;
}
.padding-lg{
	padding: 130px 0;
}
.benefits img{
	transition: 0.5s;
	margin-bottom: 30px;
	opacity: 0.9;
}
.benefits img:hover{
 -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 1;
}
.benefits p{
	font-size: 18px;
	 color: #5A5A5A;
	 font-family: 'PFAgoraSansPro-Reg';
}
.padding-md{
	padding: 80px 0;
}
.white-bg h1{
	font-size: 38px;
	color: #0aa89e;
	margin: 20px 0;
}
.white-bg h1 span{
	color: #5dca88;;
}
.iphone-detail .about-iphone{
	margin-top: 0;
}
p.light-grey{
	color: #5A5A5A;
	margin-bottom: 30px;
	font-size: 18px;
	line-height: 1.5em;
}
/*ul.list-unstyled{
	margin-bottom: 30px;
}*/
.padding-right li, .padding-right p{
	padding-right: 50px;
}
.left20{
	margin-left: 20px;
}
.tabs {
	position: relative;
	margin: 0 auto;
}
.or{
	margin-bottom: 10px;
	color: #0aa89e;
	font-size: 18px;
	font-size: 22px;
	margin-top: -10px;
}
.tabs label {
	cursor: pointer;
	display: inline-block;
	width: 150px;
	height: 45px;
	line-height: 45px;
	position: relative;
	top: 2px;
	text-align: center;
}
.time-split .time-tabs a{
	cursor: pointer;
	display: inline-block;
	width: 85px;
	height: 85px;
	line-height: 50px;
	position: relative;
	text-align: center;
	background: #5dca88;
	opacity: 0.9;
	border-radius: 100%;
	color: #fff;
	margin: 50px 20px;
	position: relative;
	transition: 0.2s;
	top: 0px;
}
.time-split .time-tabs a.inactive{
	/*border: 4px solid transparent;*/
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
	transition: 0.5s;
}
.time-split .time-tabs a, .time-split .time-tabs a:hover{
	/*border: 4px solid #46465E;*/
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}









.tabs input[type="radio"] {
	position: absolute;
	left: -9999px;
}
.time-split .time-tabs a.morning{
	background: url(../images/morning.png) no-repeat;
	background-size: contain;

}
.time-split .time-tabs a.day{
	background: url(../images/day.png) no-repeat;
	background-size: contain;
}
.time-split .time-tabs a.evening{
	background: url(../images/evening.png) no-repeat;
	background-size: contain;
}
.time-split .time-tabs a.night{
	background: url(../images/night.png) no-repeat;
	background-size: contain;
}
#tab_1:checked  ~ #tab_l1,
#tab_2:checked  ~ #tab_l2,
#tab_3:checked  ~ #tab_l3,
#tab_4:checked  ~ #tab_l4,
#tab_5:checked  ~ #tab_l5,
#tab_6:checked  ~ #tab_l6,
#tab_7:checked  ~ #tab_l7,
#tab_8:checked  ~ #tab_l8,
#tab_9:checked  ~ #tab_l9,
#tab_10:checked  ~ #tab_l10,
#tab_01:checked  ~ #tab_l01,
#tab_02:checked  ~ #tab_l02,
#tab_03:checked  ~ #tab_l03,
#tab_04:checked  ~ #tab_l04,
#tab_05:checked  ~ #tab_l05,
#tab_06:checked  ~ #tab_l06
{
	top: 0;
	z-index: 3;
}
#tab_11:checked  ~ #tab_l11,
#tab_12:checked  ~ #tab_l12,
#tab_13:checked  ~ #tab_l13,
#tab_14:checked  ~ #tab_l14
{
    border: 2px solid rgb(136, 136, 136);
}
.tabs_cont {
	position: relative;
	z-index: 2;
	height: 315px;
}
.tabs_cont > div {
	position: absolute;
	left: -9999px;
	top: 0;
	opacity: 0;
	height: 100%;
	-moz-transition: opacity .5s ease-in-out;
	-webkit-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
}
.tabs_cont > div img{
	height: 100%;	
}
#tab_1:checked ~ .tabs_cont #tab_c1,
#tab_2:checked ~ .tabs_cont #tab_c2,
#tab_3:checked ~ .tabs_cont #tab_c3,
#tab_4:checked ~ .tabs_cont #tab_c4,
#tab_5:checked ~ .tabs_cont #tab_c5,
#tab_6:checked ~ .tabs_cont #tab_c6,
#tab_7:checked ~ .tabs_cont #tab_c7,
#tab_8:checked ~ .tabs_cont #tab_c8,
#tab_9:checked ~ .tabs_cont #tab_c9,
#tab_10:checked ~ .tabs_cont #tab_c10,
#tab_11:checked ~ .tabs_cont #tab_c11,
#tab_12:checked ~ .tabs_cont #tab_c12,
#tab_13:checked ~ .tabs_cont #tab_c13,
#tab_14:checked ~ .tabs_cont #tab_c14,
#tab_01:checked ~ .tabs_cont #tab_c01,
#tab_02:checked ~ .tabs_cont #tab_c02,
#tab_03:checked ~ .tabs_cont #tab_c03,
#tab_04:checked ~ .tabs_cont #tab_c04,
#tab_05:checked ~ .tabs_cont #tab_c05,
#tab_06:checked ~ .tabs_cont #tab_c06
 {
	position: static;
	left: 0;
	opacity: 1;
}

.list-tabs {
	float: left;
}
.list-tabs {
	max-width: 30%;
}
.list-tabs li{
	padding-right: 25px;
}
.list-tabs label{
	width: auto;
	margin: 0px 10px;
	top: 0;
	font-size: 14px;
	line-height: 2em;
	text-align: left;
	background: yellow;
}
.tabs-container .tabs_cont{
  height: auto;
  display: inline-block;
  float: left;
  text-align: left;
  width: auto;
  max-width: 68%;
}

#tabs li a.form-tabs.inactive{
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
	transition:0.5s;
	border: 2px solid #ccc; 
}
#tabs li a.form-tabs p{
	margin: 15px 0;
}
#tabs li a.form-tabs img{
	margin-bottom: 10px;
}
#tabs li a.form-tabs, #tabs li a.form-tabs:hover{
	width:100px; 
	border: 2px solid #565656; 
	border-radius: 5px;
	display: inline-block;
	margin: 10px;
	padding: 0 20px;
	z-index: -2;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	text-align: center;
}

#tabs li a.form-tabs.inactive img{
	opacity: 0.6;
	transition:0.5s;
}
#tabs li a.form-tabs:hover img, #tabs li a.form-tabs img{
	opacity: 1;
}

.put-more .container{
	margin-top: 100px;
}

/*first-animate*/
.relative{
	position: relative
}

.forms-section input{
  display: block;
  z-index: 1;
  left: 9%;
  height: 37px;
  width: 90%;
  margin: 25px auto;
  border-radius: 0;
}

.forms-section form{
  background: #fafafa;
  border: 2px solid #ccc;
  height: 350px;
  border-radius: 10px;
  width: 380px;
  padding: 5%;
  position: relative;
  z-index: -1;
  margin: 10px auto 50px auto;
}
.inut-wrp{
	display: inline-block;
	width: 100%;
}
.forms-section button{
	font-size: 20px;
}
.first-screen img.col3{
	width: 20%;
	height: auto;
	z-index: 0;
	display: inline-block;
	margin: 5px;
	padding-top: 0;
	padding-bottom: 0;
}
#col3-1{
	left: 0;
}
#col3-2{
	left: 22%;
}
#col3-3{
	left: 44%;
}
#col3-4{
	left: 66%;
}
.folder{
  width: 19%;
  float: left;
  margin-top: 20px;
  height: auto;
  position: relative;
  z-index: 2;
  margin-right: 50px;
}
.wrap{
	position: relative;
	height: 300px;
	margin-top: 40px;
	width: 500px; 
	position: relative;
	z-index: 3;
	font-family: Arial;
	background: url(../images/server.png);
	background-size: 100% 100%;
}
.wrap p{
	width: 50%;
	float: right;
	padding: 20px 10px;
	font-size: 12px;
	line-height: 1em;
}
.monitor{
  background: url(../images/monitor.png) no-repeat;
  padding: 3% 10% 17% 10%;
  background-size: contain;
  background-position: top center;
  height: 300px;
}
.type-wrap{
	margin: 20px auto;
	height: 100%;
}
.in{
	width: 100px;
}

 /* code for animated blinking cursor */



.type-wrap{
	margin:10px auto;
	padding: 0 20px;
	vertical-align: middle;
	max-width: 90%;
}
.type-wrap p{
	font-size: 22px;
	line-height: 2.1em;
}

#typed-cursor{
	opacity: 1;
	padding: 0 2px 0 2px;
	margin-left: 3px;
	background: #29DD33; 
	color: #fafafa;
	font-weight: 100;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	-ms-animation: blink 0.7s infinite;
	-o-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}
@-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-ms-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-o-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}



 /* end code for animated blinking cursor */




.replace .tabs_cont{
	float: right;
	width: 70%;
}
.replace label{
	background: yellow;
	margin: 5px 0;
}

.txt-bg{
	line-height: 1.8em !important;
	font-size: 25px !important;
	font-family: 'PFAgoraSansPro-Reg', sans-serif; 
}
.grey-txt{
	color: #4A4A4A;
}
.yandex-tabs, .padding50{
	margin-right: 50px;
}
.right80{
	margin-right: 80px;
}
.yandex-tabs a{
  background: #ffdb4c;
  position: relative;
  padding: 5px;
  float: left;
}
.yandex-tabs a:after{
  content: '';
  position: absolute;
  top: 0;
  right: -24px;
  width: 0;
  height: 0;
  border-top: 23px solid transparent;
  border-left: 25px solid #ffdb4c;
  border-bottom: 23px solid transparent;
}

#tabs .yandex-tabs li a span{
	background: #fff;
	display: block;
	padding: 0 20px 0 10px;
	line-height: 1.9em;
	border: 1px solid rgb(200, 200, 200);
	font-family: 'PFAgoraSansPro-Reg';
}
#tabs .yandex-tabs li a{
	line-height: 46px;
	height: 46px;
	width: auto;
}
.tab-content{
 	max-width: 50%;
}
.tab-content .container{
	width: 100%;
}
#tabs1 .simple-tabs li a, #tabs2 .simple-tabs li a, #tabs3 .simple-tabs li a{
	display: flex;
	background: #ffdb4c;
  	position: relative;
	padding: 8px 12px;
  	margin: 10px 0;
  	font-family: 'PFAgoraSansPro-Reg';
}
.tabs-ico .simple-tabs li a span{
	margin-top: 10px;
	margin-left: 10px;
	font-size: 16px;
}
.citys-tabs.tabs-ico .simple-tabs li a img{
	height: 30px;
	margin-top: 7px;
}
.citys-tabs.tabs-ico ul.simple-tabs{
	margin-left: 30px;
}
/* tooltips ***/

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 200px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}





/*.scrollme{perspective:600px;}
*/
.animateme
{
  transform-origin:center center center;
}




.landings{
 width: 30%;
 margin: 1%;
 display: inline-block;
 border-radius: 2px;
}
.descr{
	position: relative;
}
.card_contain1{
	background: url(../images/l2.png) no-repeat;
	background-size: 100%;
}
.card_contain2{
	background: url(../images/l1.png) no-repeat;
	background-size: 100%;
}
.card_contain3{
	background: url(../images/l3.png) no-repeat;
	background-size: 100%;
}
/*.descr:after{
	content: '';
	position: absolute;
	top: -60px;
	height: 50px;
	width: 50%;
}
.descr:first-child:after{
	border-left: 3px solid #ccc;
	left: 53%;
	border-top: 3px solid #ccc;
	border-top-left-radius: 10px;	
}
.descr:first-child+.descr:after{
	border-right: 3px solid #ccc;
	right: 53%;
	border-top: 3px solid #ccc;
	border-top-right-radius: 10px;	
}
.descr:last-child:after{
	border-left: 3px solid #ccc;
	left: 50%;
}*/
.landings.description{
	width: 60%;
	margin-bottom: 70px;
	margin-left: 30px;
}
.to-land{
	margin-top: 50px;
}
.land-descr{
	margin-top: 20px 0;
	box-shadow: none;
}

.ab-split .form-group{
	text-align: left;
	display: flex;
	margin-top: 20px;
}
.ab-split .form-group label{
  width: 100px;
  display: inline-block;
  float: left;
  font-size: 18px;
  line-height: 2em;
  width: 100px;
}

#list, #list1, #list2, #list3{
	display: inline-block;
	margin-left: 20px;
}
#list img, #list1 img, #list2 img, #list3 img{
	height: 35px;
	padding: 0;
	margin: 0 5px 0 5px;

}
.select-wrp{
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	margin-bottom: 20px;
}


/*button danger ****/
.btn {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 4.5px 14px;
  font-size: 13px;
  line-height: 1.846153846;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  text-transform: uppercase;
  font-size: 14px;
  width: auto;
}
.btn-danger {
  color: #f44336;
  color: #ffffff;
  background-color: #f44336;
  border-color: #f44336;
}
.ink-reaction {
  position: relative;
  overflow: hidden;
}

.btn-danger:hover, .btn-danger:focus, .open .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #f22314;
  border-color: #f22314;
}
.buttons .btn{
	margin: 40px auto;
}
.btn.btn-lg{
	font-size: 20px;
}
.underline{
	border-bottom: 2px dashed #0aa89e;
	transition: 0.3s;
}
.green-txt.underline:hover{
	color: #8c9494 !important;
	border-color: transparent;
}
.md-play-arrow{
	color: #34B8BF;
}
h2{
	margin-bottom: 40px;
}


.ab-split .form-group select{
	width: 55px;
 
}

  /* margin-top: 0px; */

a {cursor:pointer;}

.math .txt-bg{
	color: rgb(88, 88, 110);
}
#tabs li a, #tabs1 li a, #tabs2 li a, #tabs3 li a {
    color: #3C3D54;
    display:block; 
    text-decoration:none;
    outline:none;
    font-size: 18px;
    text-align: left;
    margin: 15px 0;
    font-family: 'PFAgoraSansPro-Reg';
}

#tabs li a.inactive, #tabs1 li a.inactive, #tabs2 li a.inactive, #tabs3 li a.inactive{
    color:#7B7B7B;
}

#tabs li a:hover, #tabs li a.inactive:hover, 
#tabs1 li a:hover, #tabs1 li a.inactive:hover, 
#tabs2 li a:hover, #tabs2 li a.inactive:hover,
#tabs3 li a:hover, #tabs3 li a.inactive:hover 
 {
    color: #3C3D54;
    outline:none;
}

#tabs .container, #tabs1 .container, #tabs2 .container, #tabs3 .container  {
    clear:both;           
    width:100%; 
    text-align:left;
  padding-top: 10px;

}
#tabs .container p, #tabs1 .container p, #tabs2 .container p, #tabs3 .container p { margin-left: 15px; margin-right: 15px;  margin-top: 10px; margin-bottom: 10px; line-height: 1.3; font-size: small; }

#tabs .container ul, #tabs1 .container ul, #tabs2 .container ul, #tabs3 .container ul { margin-left: 25px; font-size: small; line-height: 1.4; list-style-type: disc; }

#tabs .container li, #tabs31 .container li, #tabs2 .container li, #tabs3 .container li { padding-bottom: 5px; margin-left: 5px;}








/****swip ****/
 .swiper-container {
  position: relative;
  overflow: hidden;
  /* Fix of Webkit flickering */
  z-index: 1;
  width: 53%;
  height: 75%;
  float: right;
  cursor: pointer;
  margin: 10px 10px 10px 0px !important;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img{
	width: 100%;
	height: auto;
	margin-top: 130px;
}
.toggle-canvas{
	display: none;
}
header .nav ul li a:hover{
	color: #3C3D54;
}
/*button{
	outline: none;
}*/
.quality-wrp img, .share-txt img{
	width: 30%;
}
.quality-wrp{
	padding-left: 180px;
	background: url(../images/chit.png) no-repeat;
	background-size: 110px 110px;
	margin-bottom: 50px;
	min-height: 110px;
}
.share-txt{
	padding-left: 180px;
	background: url(../images/fastpass.png) no-repeat;
	background-size: 110px 110px;
	margin-bottom: 30px;
	min-height: 110px;
}

.forms-section form button{
	font-size: 1.2em;
	border: 3px solid transparent;
}

.forms-section form button:before,
.forms-section form button:after{
  background: transparent;
  content: '';
  position: absolute;
  z-index: -1;
}
.buttons button::before,
.buttons button::after {
  background: transparent;
  content: '';
  position: absolute;
  z-index: -1;
}

.buttons button{
	font-size: 22px;
}




.select-style {
    border: 2px solid #70CECA;
	  width: 60px;
	  border-radius: 5px;
	  overflow: hidden;
	  margin-bottom: 20px;
    background: #fff url("../images/arrow_03.png") no-repeat 84% 52%;
}

.select-style select {
    position: relative;
    padding: 5px 8px;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    cursor: pointer;
}
.select-style select:focus {
    outline: none;
}


#summ{
  margin-left: 20px;
  font-size: 30px;
}
.text-right{
	text-align: right;
}









/**** лупа на изображении*/
.glass {
  width: 175px;
  height: 175px;
  position: absolute;
  border-radius: 50%;
  cursor: crosshair;
  z-index: 9999;
  
  /* Создание эффекта стекла */
  box-shadow:
    0 0 0 7px rgba(255, 255, 255, 0.85),
    0 0 7px 7px rgba(0, 0, 0, 0.25), 
    inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
  
  /* Изначально скрыто */
  display: none;
}
.descr-img img{
	width: 50%;
}

.table-responsive {
	overflow:scroll;
}
.way_wrp{
	padding: 25px;
	border: 2px solid #fafafa;
}
.title{
	font-family: 'PFAgoraSansPro-Reg';
	font-size: 19px;
	margin: 10px 0;
}
.create_site ul{
	margin:20px 0;
}
.plus li span, .minus li span{
	font-size: 20px;
	margin-right: 5px;
}
.plus li ul li, .minus li ul li, .plus li ul p{
	font-size: 16px;
	color: rgb(70, 70, 94);
	margin: 10px 0;
}
.plus li ul li span.green-txt{
	font-weight: bold;
}
.red-txt{
	color: #E7463B;
}
.create_main{
	background: #E3F7F8;
	font-family: 'PFAgoraSansPro-Reg';
	border-color: transparent;
}
.note{
	margin-bottom: 80px;
	font-size: 21px;
	font-weight: bold;
	font-family: 'PFAgoraSansPro-Reg';
}


.hover-scale img:hover, .time-split label:hover{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
img, .time-split label{
	transition: 0.5s;
}


.list-unstyled li{
	list-style: none;
}

#wheel1
{
  position: absolute;
  top: 5px;
  left: 100px;
  width: 250px;
}
 
#wheel2
{
  position: absolute;
  top: 193px;
  left: 272px;
  width: 200px;:200px;
}
#wheel1 {
 
    -webkit-animation-name: spin;
    -webkit-animation-duration: 6000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 6000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 6000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
 
    animation-name: spin;
    animation-duration: 6000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
#wheel2 {
 
    -webkit-animation-name: spinn;
    -webkit-animation-duration: 6000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinn;
    -moz-animation-duration: 6000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spinn;
    -ms-animation-duration: 6000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
 
    animation-name: spinn;
    animation-duration: 6000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spinn {
    from { -ms-transform: rotate(360deg); }
    to { -ms-transform: rotate(0deg); }
}
@-moz-keyframes spinn {
    from { -moz-transform: rotate(360deg); }
    to { -moz-transform: rotate(0deg); }
}
@-webkit-keyframes spinn {
    from { -webkit-transform: rotate(360deg); }
    to { -webkit-transform: rotate(0deg); }
}
@keyframes spinn {
    from {
        transform:rotate(360deg);
    }
    to {
        transform:rotate(0deg);
    }
}













.toggle_nav { 
	display: block; 
}

.toggle_nav a { 
	font-style:none; 
 }
.toggle_nav a:link { 
	text-decoration:none; 
} 
ul.toggle_nav  li a {  
	display:block; 
}


.rocket{
	width: 31%;
	margin: 0 auto;
	margin-top: 0px;
	padding-top: 50px;
}
.rocket, .rocket1{
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	  transform: rotate(45deg);
}
.rocket1{
	margin-top: -22px;
}
#rocket, #rocket_1{
    display: block;
    background: url(../images/fire.png) no-repeat;
    background-position: top center;
    height:130px;
    opacity:0.7;
    width:50%;
    background-size: contain;
    margin: auto;
    -webkit-animation: rocketx 0.3s ease 0s infinite;
}

@-webkit-keyframes rocketx{
	0% {background: url(../images/fire_02.png) no-repeat; background-position: top center; opacity:0.8; background-size: contain;}
    33% {background: url(../images/fire_03.png) no-repeat; background-position: top center; opacity:0.9; background-size: contain;}
    66% {background: url(../images/fire_03.png) no-repeat; background-position: top center; opacity:0.8; background-size: contain;}
}

#rocket1{
    display: block;
    background: url(../images/fire_07.png) no-repeat;
    background-position: top center;
    height:50px;
    opacity:0.7;
    width:20%;
    background-size: contain;
    margin: auto;
    -webkit-animation: rocketx1 0.3s ease 0s infinite;
}
.rocket1 img{
	width:20%;
}

@-webkit-keyframes rocketx1{
	0% {background: url(../images/fire_06.png) no-repeat; background-position: top center; opacity:0.8; background-size: contain;}
    33% {background: url(../images/fire_05.png) no-repeat; background-position: top center; opacity:0.9; background-size: contain;}
    66% {background: url(../images/fire_06.png) no-repeat; background-position: top center; opacity:0.8; background-size: contain;}
}

.rocket3 img{
	width: 24%;
}
.rocket3 #rocket_1{
	width:19%;
}

.rocket3{
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	  transform: rotate(45deg);
  	margin-top: -65px;
}











.blocknote{
	/*background: #fafafa;*/
	padding: 20px;
	/*box-shadow: 0px 1px 4px #ccc;*/
}
.tabs-ico .simple-tabs ul li a{
	display: flex !important;
}
.tabs-ico .simple-tabs li a img{
	width: 45px;
	height: 45px;
	display: inline-block;
}
.cityes li{
	display: inline-block;
	width: 15%;
	margin: 20px;
}
.arrow {
  height: 75px;
  width: 100%;
  position: relative;
  font-size: 42px;
  margin-top: 30px;
  text-align: center;
}
.arrow .md {
  color: #34B8BF;
  bottom: 27px;
  position: absolute;
  left: 50%;
  margin-left: -18px;
  animation-name:arrow;
  animation-duration:3s;
  animation-timing-function:linear;
  animation-delay:0s;
  animation-iteration-count:infinite;
  animation-direction:normal;
  animation-play-state:running;
  -webkit-animation-name:arrow;
  -webkit-animation-duration:3s;
  -webkit-animation-timing-function:linear;
  -webkit-animation-delay:0s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:normal;
  -webkit-animation-play-state:running;
}
@keyframes arrow
	{
	0%   {bottom:0;}
	75% {bottom: 90px;}
	100% {bottom:0;}
	}
@-webkit-keyframes arrow
	{
	0%   {bottom:0;}
  75% {bottom: 90px;}
	100% {bottom:0;}
  }


.iphone-detail{
	position: relative;
}
.replace1 {
	margin-top: 40px;
}
.replace1 .landings img{
	margin-bottom: 20px;
}


.particles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  left: 0;
  top: 0;
  bottom:0;
  background-color: #D0E3F1;
}
.bubbles {
  position: absolute;
  z-index: -1;
  background-color: #ccc;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
/*#space{
	 position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  left: 0;
  top: 0;
  bottom:0;
  background-color: #D0E3F1;
}*/



.line-list .new1 span{
background: url(../images/2.png) no-repeat left transparent;
}
.line-list .new2 span{
background: url(../images/5.png) no-repeat left transparent;
}
.line-list .new3 span{
background: url(../images/10.png) no-repeat left transparent;
}
.line-list .new4 span{
background: url(../images/30.png) no-repeat left transparent;
}
.line-list .new5 span{
background: url(../images/3.png) no-repeat left transparent;
}
.line-list .col-sm-3 span, .line-list .col-sm-4 span{
  padding: 20px 10px 10px 100px;
  background-size: 85px 92px;
  min-height: 90px;
  /* box-sizing: inherit; */
  display: block;
  font-size: 20px;
}
.line-list{
  background-color: rgb(60, 61, 84);
  color: #fff;
  padding: 60px 0;
}
.line-list .col-sm-4 span{
  padding: 25px 10px 15px 121px;
}
.benefits .col-sm-6 ul{
	padding-left: 130px;
	/*height: 90px;*/
	margin-bottom: 13px;
}
.benefits .col-sm-6 ul li{
  color: #5A5A5A;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1.5em;
}
.benefits .contacts ul{
	background: url(../images/contacts.png) no-repeat left;
	background-size: 100px 100px;
	background-position: top left;
}
.benefits .create ul{
	background: url(../images/deal.png) no-repeat left;
	background-size: 100px 100px;
	background-position: top left;
}
.benefits .tasks ul{
	background: url(../images/tasks.png) no-repeat left;
	background-size: 100px 100px;
	background-position: top left;
}
.benefits .tag ul{
	background: url(../images/tag.png) no-repeat left;
	background-size: 100px 100px;
	background-position: top left;
}
.benefits .analytics ul{
	background: url(../images/analytics.png) no-repeat left;
	background-size: 100px 100px;
	background-position: top left;
}
.benefits .next_step ul{
	background: url(../images/next_step_01.png) no-repeat left;
	background-size: 100px 100px;
	background-position: top left;
}
.btn-2 {
  border: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  outline: none;
  padding: 10px 40px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  background: #cb4e4e;
  color: #fff;
  box-shadow: 0 6px #ab3c3c;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  -webkit-user-select: none;
}
.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-2:hover {
  box-shadow: 0 4px #ab3c3c;
  top: 2px;
  color: #fff;
}
.btn-2:focus, .btn-2:active:focus, .btn-2.active:focus, 
.btn-2.focus, .btn-2:active.focus, .btn-2.active.focus{
	outline: none;
	color: #fff;
}
#undefined-sticky-wrapper.sticky-wrapper{
	height: 80px  !important;
}
.beta, .beta h2.light-grey {
	color: #5A5A5A;
}
.beta h1{
	background: none;
}
.beta table{
	font-size: 20px;
	width: 100%;
	margin-bottom: 30px;
}
.big-size{
	font-size: 20px;
}

.beta table td{
	padding: 5px 0;
}

.opacity8{
	opacity: 0.8;
}



  .social__item  .fa {
    background: #fff;
    border-radius: 35px;
    color: #818181;
    cursor: pointer;
    display: block;
    font-size: 30px;
    height: 70px;
    line-height: 70px;
    position: relative;
    text-align: center;
    transition: all .2s;
    width: 70px;
    
  }
  
 .social__item {
    display: inline-block;
    margin: 10px;
  }
   .social__item span{
   	border: 3px solid transparent;
   } 
.fa-facebook:hover{
	color:  #3b5998;
	box-shadow: inset 0px 0px 4px #3b5998;
}
.fa-vk:hover{
	color: #45668e;
	box-shadow: inset 0px 0px 4px #45668e;
}
.fa-twitter:hover{
	color:  #00aced;
	box-shadow: inset 0px 0px 4px #00aced;	
}
.fa-linkedin:hover{
	color: #007bb6;
	box-shadow: inset 0px 0px 4px #007bb6;
}
.fa-google-plus:hover{
	color: #dd4b39;
	box-shadow: inset 0px 0px 4px #dd4b39;
}

.modal{
	width: 100%;
}
.modal-backdrop{
	width: 100%;
}
.modal input{
	width: 80%;
	margin: 0 auto;
	font-size: 16px;
}



.beta-info{
	margin-top: 50px;
}
.title span img{
	width: 15px;
	margin-right: 10px;
}
.modal-content{
	padding: 20px;
}
.modal-footer button{
	width: 86%;
}
/*.complitly .col-xs-12 img{
	float: left;
	max-height: 130px;
	margin-right: 70px;
}*/
.complitly .col-xs-12 h2{
	margin-top: 20px;
	margin-bottom: 20px;
}

.contact-card{
	margin-bottom: 60px;
}
.contact-card h2{
	font-size: 20px;
	min-height: 48px;
}
.contact-card p{
	font-size: 16px;
}
.contact-card img{
	width: 40%;
	margin-bottom: 25px;
}
.analitycs1 .container{
	border: 2px solid rgb(111, 112, 138);;
}
table.table{
	font-size: 16px;
}









canvas{
position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  left: 0;
  top: 0;
  bottom:0;
  background-color: #D0E3F1;
}
.container{
	position: relative;
	z-index: 1;

}
.main-img{
	margin-top: 30px;
}
.analitycs-tabs ul li a{
	color: #0AA8A7 !important;
}

.analitycs-tabs ul li a.inactive{
	color: #5A5A5A !important;
}
.no-margin{
	margin: 0;
}
.role{
	background: url(../images/relevo.png) no-repeat left center;
	background-size: 75px 75px;
}
.traffic1{
	background: url(../images/trafik_01.png) no-repeat left center;
	background-size: 75px 75px;
}
.marketing{
	background: url(../images/marketing_01.png) no-repeat left center;
	background-size: 75px 75px;
}
.stat{
	background: url(../images/analytics.png) no-repeat left center;
	background-size: 75px 75px;
}
.tests{
	background: url(../images/test.png) no-repeat left center;
	background-size: 75px 75px;
}
.crm1{
	background: url(../images/crm01.png) no-repeat left center;
	background-size: 75px 75px;
}
.list-benefits img{
	width: 70%;
}
.forma1{
	width:70%;
}
.bord{
  background: url(../images/table_01.png) no-repeat;
  background-position: top center;
  background-size: 100% 100%;
  padding: 60px 55px 100px 55px;
  text-align: center;
  position: relative;
  width: 500px;
  margin: auto;
}
.bord h1{
	background: none;
	margin-top: 20px;
	margin-bottom: 0;
	color: rgb(61, 59, 85);
}
.bord p{
	line-height: 1.3em;
	font-size: 20px;
	color: rgb(61, 59, 85);
}
.aside figure p{
	color: #5A5A5A;
	margin-bottom: 20px;
}
.teacher{
  position: absolute;
  right: -291px;
  bottom: -120px;
  width: 370px;
}
.ask{
  position: absolute;
  left: -291px;
  bottom: -120px;
  width: 270px;
}
.bord .philosophy{
	text-align: right;
	font-style: italic;
	margin-top: 50px;
	font-size: 18px;
}
.rocket_sm{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 155px;
}
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.reg-forma{
	padding: 0 50px;
}
.group {
	position: relative;
	margin-bottom: 20px;
}
.group input{
	border:none;
	border-bottom: 2px solid #ccc;
	padding: 20px 0 5px 0;
	width: 100%;
	display: block;
	background: transparent;
}
.group input:focus{outline:none;}

.group input:focus ~ label, .group input:valid ~label{
	top:-10px;
	font-size:14px;
	color:#0AA89E;
}

.group label{
	position:absolute;
	color:#5E5D6A;
	top:10px;
	left:0; transition:0.2s ease all;
	font-size: 22px;
	font-family: "PFAgoraSansPro-Reg";
}
.bar {
	position: relative;
	display: block;
}
.bar:before{
	 content:"";
	 position:absolute;
	 left:50%;
	 right:50%;
	 bottom:0;
	 background:#0AA89E;
	 height:2px;
	 transition:left 0.2s ease-out,
	 right 0.2s ease-out;
 }

input:focus ~ .bar:before{left:0; right:0;}


.group input.error ~ label{
	top:-10px;
	font-size:14px;
	color:#0AA89E;
}
.group label.error, .group input:focus ~ label.error, .group input:valid ~label.error,
.group input.error ~ label.error{
	bottom: -20px;
	font-size: 14px;
	color: red;
	top: auto;
}

.enter-bottom{
	padding: 0 0 20px 0;
}
.checkbox-wrap span{
	margin-left: 4px;
	color: #9B9B9B;
}
.checkbox-wrap input{
	float: left;
	width: 20px;
}
.remind{
	padding-left: 0;
	margin-top: 10px;
}



@media screen and (max-width: 1200px) {
.wrap{
	width: 400px;
}
.swiper-slide img{
	margin-top: 55px;
}
.swiper-container{
  margin: 11px 7px 10px 0px !important;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
	right: 76px !important;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
	left: 259px !important;
}
.line-list .col-sm-3 span, .line-list .col-sm-4 span{
	  padding: 120px 10px 10px 0px;
	  background-position: top center;
	  text-align: center;
}
.buttons button{
	font-size: 18px;
}
.card {
	width: 40%;
}
#tabs .yandex-tabs li a span{
	font-size: 14px;
	line-height: 2.5em;
}
.yandex-tabs, .padding50{
	margin-right: 30px;
}
.iphone-detail .about-iphone p{
	margin-bottom: 20px;
}
.tabs-ico .simple-tabs li a span{
	font-size: 14px;
}
#tabs1 .simple-tabs li a, #tabs2 .simple-tabs li a, #tabs3 .simple-tabs li a{
	padding:6px 8px;
}
.features .feature-detail{
	width: 420px !important;
}
}
@media screen and (max-width: 991px) {


.toggle-canvas {
  display: inline-block;
  float: left;
  color: #0aa89e ;
  background: #fff;
  border: none;
  box-shadow: none;
  font-size: 45px;
  outline: none;
  transition: 0.2s;
  margin-top: 27px;
}
.toggle-canvas:hover{
	color: #f8f8f8;
}
.offset-canvas {
  position: fixed;
  width: 200px;
  height: 100%;
  background: #f5f5f5;
  z-index: 99999999;
  right:0;
  transform: translate3d(9999px,0,0);
  transition: transform 0.4s;
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}
.offset-canvas .scroller {
  height: 100%;
  overflow-y: scroll;
}
header .nav.offset-canvas ul {
  margin: 0;
  margin-left: 0;
  padding: 0;
  list-style: none;
  margin-left: 0;
}
header .nav.offset-canvas ul li{
	display: block;
	text-align: left;
}
.offset-canvas ul li a, .offset-canvas ul li span {
  display: block;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #ededed;
  color: #666;
  text-decoration: none;
}
.offset-canvas.show-canvas {
  transform: translate3d(0,0,0);
  transition: transform 0.4s;
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}
.wrap{
	  height: 222px;
	  width: 370px;
	  margin: 0 auto 70px auto;
}
.swiper-container {
  width: 50.2%;
  height: 74%;
  margin: 10px 12px 10px 0px !important;
}
.swiper-button-prev, .swiper-button-next{
	margin-top: -19px !important;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
	right: 68px !important;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
	left: 237px !important;
}
.iphone-detail .about-iphone{
	margin-top: 0 !important;
	margin-bottom: 0px !important;
}
.benefits p{
	font-size: 16px;
}
.type-wrap p{
	line-height: 1.5em;
}
.forms-section form{
	width: 80%;
}
.forms-section .relative{
	padding-top: 15px;
}
h1{
	font-size: 30px !important;
}
.light-grey{
	margin-bottom: 15px;

}
ul.list-unstyled li{
	font-size: 15px;
}
#tabs li a.form-tabs p{
	margin-bottom: 5px;
}
button{
	line-height: 27px;
}
.contact-card{
	height: 408px;
}
.descr-img img{
	width: 80%;
}
#tabs .container ul{
	padding-left: 15px;
	margin-left: 0;
}

.benefits .col-sm-6 ul{
padding-left: 65px;
 background-size: 55px 55px;
background-position: top left;
}
.buttons button{
font-size: 14px;
}
.btn-2{
padding: 10px 15px;
}
.quality-wrp, .share-txt{
padding-left: 110px;
background-size: 85px 85px;
}
.social__item .fa{
font-size: 24px;
height: 60px;
line-height: 56px;
width: 60px;
}
.time-split .tab-content{
margin-bottom: 70px;
}
.math{
margin-bottom: 130px;
}
.math .txt-bg{
font-size: 20px !important;
line-height: 1.5em !important;
}
.card {
width: 30%;
}
.txt-bg {
line-height: 1.3em !important;
font-size: 22px !important;
}
.bord{
padding: 55px 35px 120px 35px;
float: left;
}
.bord h1{
margin-bottom: 0px;
}
.bord p {
line-height: 1.4em;
}
.role, .traffic1, .marketing, .stat, .tests, .crm1{
background-size: 60px 60px
}
.aside ul li a {
padding: 15px 0 15px 70px !important;
margin: 5px 0 !important;
}
.features .feature-detail{
width: 360px !important;
}
.features .feature-detail p{
font-size: 17px;
line-height: 1.2em;
margin-bottom: 15px;
}
.bord{
	width: 380px;
	 padding: 55px 25px 80px 25px;
}
.bord h1{
	padding-bottom: 10px;
}
.bord p{
	line-height: 1.3em;
	font-size: 18px;
}
.bord .philosophy{
	font-size: 16px;
	margin-top: 30px;
}
.rocket_sm{
	width: 125px;
}
.ask{
	display: none;
}
.teacher{
	width: 335px;
}
}




@media screen and (max-width: 768px){
	.first-container .col-sm-5{
		text-align: center;
	}
	h1{
		text-align: center;
		margin-bottom: 5px;
		background: none;
	}
	.contact-card{
		height: auto;
	}
	.contact-card img{
		width: 115px;
	}
	.contact-card h2{
		min-height: 0;
	}
	#wheel1 {
  top: -40px;
  left: 8px;
  width: 100px;
}
#wheel2 {
  top: 0;
  left: 102px;
  width: 70px;
}
.beta table{
	width: auto;
}
.beta-info{
	text-align: left !important;
}
.real_time .descr-img img{
	height: 190px;
	width: auto;
}
.analitycs1 .container{
	border: none;
}
.txt-bg{
	font-size: 20px !important;
}
.buttons button{
	margin: 10px auto !important;
}
.benefits img{
	height: 115px;
	width: auto;
	margin-bottom: 15px;
}
.benefits .col-sm-3.col-xs-6{
	min-height: 300px;
}
.forma1{
	height: 300px;
	width: auto;
}
.padding-lg{
	padding: 50px 0;
}
.benefits .col-sm-3{
	margin-bottom: 20px;
}
.quality-wrp, .share-txt {
  padding-left: 0;
  padding-top: 100px;
 background-position: top center;
}
.cityes img{
	height: auto;
}
.cityes-wrp .landings{
	width: 24%;
	height: auto;
}
.buttons .col-sm-6{
	margin-bottom: 50px;
}
.select-style{
	height: 30px;
}
.row{
	margin-left: 0;
	margin-right: 0;
}
.tab-content.pull-left{
	float: right !important;
}
.note{
	text-align: center;
}
.aside ul{
	margin-left: 0 !important;
	width: 47% !important;
}
.features .feature-detail{
	width: 50% !important;
}
.teacher{
	display: none;
}
.bord{
	float: none;
	 width: 435px;
	 padding: 55px 25px 55px 25px;
}
}

@media screen and (max-width: 579px){
	.btn-2{
		padding: 10px 20px;
	}
	#wheel1 {
		top: -80px;
	}
	#wheel2 {
		top: -50px;
	}
	.toggle-canvas{
		font-size: 35px;
		margin-top: 17px;
	}
	.btn-2 {
	  padding: 5px 7px;
	  font-size: 12px;
	  margin-right: 5px;
	}
	.padding-lg {
	  padding: 50px 0;
	}
	header .logo{
		margin-right: 10px;
	}
	.social__item .fa {
	  font-size: 16px;
	  height: 45px;
	  line-height: 39px;
	  width: 45px;
	}
	.time-split .time-tabs a{
		height: 65px;
		width: 65px;
	}
	.ab-split .form-group{
		display: block;
	}
	#list, #list1, #list2, #list3{
		margin-left: 0;
	}
	h3{
		font-size: 18px;
	}
	.right80{
		margin-right: 30px;
	}
	.time-split .tab-content{
		width: 63%;
		max-width: 63%;
	}
	.blocknote{
		padding: 20px 0;
	}
	.arrow{
		height: 25px;
		margin-top: 0;
		margin-bottom: 15px;
	}
	.arrow .md{
		top: 0;
	}
	.left20{
		margin-left: 0;
	}
	.tabs-ico .simple-tabs li a span{
		font-size: 0;
	}
	#tabs1 .simple-tabs li a, #tabs2 .simple-tabs li a, #tabs3 .simple-tabs li a{
		background: transparent;
		padding: 0 ;
	}
	.tab-content.pull-left{
		max-width: 60%;
	}
	.citys-tabs.tabs-ico ul.simple-tabs{
		margin-left: 0;
	}
	.bord p{
		line-height: 1.3em;
		font-size: 17px;
	}
	.bord h1{
		margin-top: 0;
	}
	.bord {
		width: 300px;

	}
	.rocket, .rocket1, .rocket2, .rocke3{
		display: none;
	}
	.note{
		margin-bottom: 30px;
	}
	.aside ul li a{
		padding-left: 0px;
	}
	.aside ul li a span{
		display:none;
	}
	.aside ul{
		width: 80px !important;
	}
	.aside ul li {
	  background-size: 60px 60px !important;
	  height: 62px;
	}
	.features .feature-detail{
		width: 65% !important;
		padding-top: 0;
		margin-right: 0;
		padding-right: 0;
	}
	.features .feature-detail p{
		margin-bottom: 10px;
		font-size: 15px;
	}
	.wrap {
	  height: 210px;
	  width: 272px;
	  }
	  .swiper-slide{
	  width: 140px;
	  margin-right: 0px;
	  margin-left: 3px;
	  }
	  .swiper-button-prev, .swiper-button-next{
	  	width: 30px;
	  }
	  .swiper-button-next, .swiper-container-rtl .swiper-button-prev{
	  	right: 41px !important;
	  }
	  .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
	  	left: 167px !important;
	  }
	  h1{
	  	font-size: 26px !important;
	  }
	  ul.list-unstyled li{
	  	font-size: 16px;
	  }
	  .benefits .col-sm-6 ul{
	  	padding-left: 0px;
	  	background: none;
	  }
}








