@font-face {
    font-family: 'FontAwesome';
    src: url('../../fonts/fontawesome-webfont.eot?v=4.3.0');
    src: url('../../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Material Design Iconic Font';
    src: url('../../fonts/Material-Design-Iconic-Font.eot?v=1.0.1');
    src: url('../../fonts/Material-Design-Iconic-Font.eot?#iefix&v=1.0.1') format('embedded-opentype'), url('../../fonts/Material-Design-Iconic-Font.woff?v=1.0.1') format('woff'), url('../../fonts/Material-Design-Iconic-Font.ttf?v=1.0.1') format('truetype'), url('../../fonts/Material-Design-Iconic-Font.svg?v=1.0.1#Material-Design-Iconic-Font') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../../fonts/glyphicons-halflings-regular.eot');
  src: url('../../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.edit-profile .card{
  border: 1px solid #0a8bcb;
  -webkit-box-shadow: 0 1px 3px 0 #0a8bcb;
  box-shadow: 0 1px 3px 0 #0a8bcb;
  background-color: inherit;
  margin: 40px 0;
}
.profile .card-head header {
  padding: 0px 15px;
  left: 27px;
  position: absolute;
  top: -8px;
  background: #e5e6e6;
}
.profile .card-head{
  min-height: 20px;
}
.card-body p{
  opacity: 0.8;
  font-size: 14px;
  margin-bottom: 0px;
}
.card-actionbar-row.text-left{
  text-align: left;
}
.headerbar .pull-right .header-nav-toggle a{
  margin-right: 15px;
  z-index: 9999;
}
.profile h3, .offcanvas.create-company h3{
  margin-top: 15px;
  margin-bottom: 15px;
}
.offcanvas.create-company{
  top: 65px;
  z-index: 1007;
}
.headerbar .pull-right .header-nav-toggle li > a.btn-primary:hover,
.headerbar .pull-right .header-nav-toggle li > a.btn-primary:focus{
  background-color: #0a8bcb;
}
.edit-profile1 .card{
  margin: 40px 0;
}
.alert.alert-callout.alert-primary-bright:before{
  background-color: #5E5E5E;
}
.modal-content .card-body{
  padding: 0 30px;
}
.modal .floating-label .form-control ~ label{
  font-size: 14px;
}
.info-btn{
  margin: 15px;
  float: left;
}
.demo-page h1{
  margin-top: 20%;
}
#reg_ToolsLab p{
  margin: 15px 0;
}
.left-fixed{
  position: fixed;
  top: 64px;
  left: 0;
  bottom: 0;
  width: 64px;
  background: grey;
  color: #fff;
}
.wrap{
  padding-left: 64px;
}
.table_wrap{
  padding-left: 30px;
}
.header-nav .header-nav-brand{
  margin-right: 10px;
}
.dataTables_length, .ColVis, .ColVis_Button, .dataTables_filter{
  display: none;
}
#offcanvas-demo-left.offcanvas-pane.active{
  top: 64px;
  left: -175px;
}
#menubar{
  z-index: 9999;
}
.demo-header{
  background: #2b323a;
}
main #header{
  height: auto;
}
.info-btn .btn{
  color: #969c9c;
}
.form .form-group .input-group-addon:first-child{
  background: #fff;
  border: 1px solid #fff;
}
.info-btn .btn:hover, .info-btn .btn:focus{
  color: #DADCDC;
}
.headerbar{
  min-height: 0px;
}
.menubar-fixed-panel .expanded{
  padding-left: 20px;
}
.form-group > label.gender{
  font-size: 16px;
  padding-bottom: 10px;
}
.radio_wrap{
  margin-top: 10px;
}
textarea{
  resize: none;
}
.start-btn{
  float: right;
}
.companies .col-sm-6 a{
  text-decoration: none;
  display: block;
}
.companies .col-sm-6 a:hover{
  text-decoration: none;
}
.companies .col-sm-6 a:hover .alert.alert-callout{
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
}
.companies .col-sm-6 a:hover .alert.alert-callout{
  background-color: #EEE;
}
.menubar-first #header .menubar-toggle.filter_btn{
  display: inline-block;
}
#off-canvas1{
  z-index: 1009;
  width: 320px;
  top: 66px;
  background-color: #F6F6F6;
  padding: 15px 15px 60px 15px;
  border-right: 2px solid #E9E9E9;
  border-bottom: 1px solid #E9E9E9;
  position: fixed;
  bottom: 0;
  overflow: scroll;
}
#off-canvas1.filter-clients{
  border-right: none;
}
#off-canvas1.filter-menu .sidebar-clients{
  height: auto;
  border-right: 2px solid #E9E9E9;
  width: 320px;
  margin-top: -9px;
  padding-top: 10px;
}
.card-body.filter-page{
  padding-left: 0px;
}
#off-canvas1 li{
  list-style: none;
}
#off-canvas1 a,   #off-canvas1 label, #off-canvas1 p, #offcanvas-search a, #offcanvas-search p, #offcanvas-search label{
  display:block;
  text-decoration:none;
  border-radius:5px;
  /*margin:0 0 10px;  */
  -webkit-transition: all 0.5s cubic-bezier(0.15, 0.99, 0.18, 1.01);
  -o-transition: all 0.5s cubic-bezier(0.15, 0.99, 0.18, 1.01);
  transition: all 0.5s cubic-bezier(0.15, 0.99, 0.18, 1.01);
}
#off-canvas1 a:hover{
  color: #0a8bcb;
}
#off-canvas1 .dropdown dd ul li a, #offcanvas-search .dropdown dd ul li a{
  margin: 0 5px 5px 5px;
  padding: 3px 5px;
}
#off-canvas1 .dropdown dd ul li a:hover, #offcanvas-search .dropdown dd ul li a:hover{
  border-radius: 0px;
  color: #fff;
  text-shadow: none;
  background: #3875d7;
}
.nav-tabs{
  border-bottom-width: 0px;
}
.deal-tabs.tables-tabs{
  margin-left: 60px;
}
.tables-tabs{
  float: left;
  margin-left: 35px;
}
.card-head.nav-tabs, .card-head > .nav-tabs {
  margin: 0 24px;
  padding: 0 0;
}
.tables-tabs .nav-tabs li a{
  margin-right: 0px;
  position: relative;
  line-height: 3em;
  background: #F3F3F3;
  border: none;
  border-radius: 0;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
  border: none;
}
.nav-tabs > li.active > a:before{
  position: absolute;
  left: 50%;
  margin-left: -4px;
  bottom: -4px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  border-color: #fafafa transparent transparent transparent;
  color: #f8f9f9;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
  background-color: #eee;
  cursor: default;
}
.tables-tabs .nav-tabs li a:after, .card-head > .nav-tabs > li > a:after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: #ccc;
}
.tables-tabs .nav-tabs li:last-child a:after, .offcanvas .nav-tabs li:last-child a:after{
  display: none;
}
.card-head > .nav-tabs {
  margin: 12px 24px;
  border: 1px solid #D9D9D9;
  border-radius: 8px;
}
.card-head > .nav-tabs li:first-child a{
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.card-head > .nav-tabs li:last-child a {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.nav-tabs > li > a{
  margin-right: 5px;
}
.header-nav > li{
  padding-left: 0;
}
.card .btn-icon-toggle:hover, .card .btn-flat:hover,
.card .btn-icon-toggle:focus, .card .btn-flat:focus,
 .filter_btn.active{
  background-color: rgba(12, 12, 12, 0.07);
  color: #666;
}
.add li button{
  margin: 0 5px;
}
.card-body.verification p {
  text-align: center;
  margin-bottom: 15px;
}
.modal-footer p{
  margin: 12px 0 0 0;
}
.modal-footer a, .offcanvas form.margin-no a, .add-tags{
  color: #0a8bcb;
  text-decoration: underline;
  cursor: pointer;
}
.modal-footer a:hover{
  text-decoration: none;
}
.sms time{
   color: #0a8bcb;
}
.sms a{
  display: none;
}
.sms.active span{
  display: none;
}
.sms.active a{
  display: inline-block;
}
.nav-tabs > li {
  margin-bottom: 0;
}
body.card{
  margin-bottom: 0;
}
.menubar-first #menubar{
  z-index: 9999;
}
.form-group > label,
.form-group .control-label {
  font-size: 14px;
}
.offcanvas .tables-tabs{
  margin-left: 0;
  width: 100%;
}
.offcanvas .card-head > .nav-tabs, .button-tabs.nav-tabs {
  margin: 12px auto;
  font-size: 12px;
  display: table;
  overflow: hidden;
}
.offcanvas .nav-tabs.nav-justified{
  border-radius: 8px;
  display: block;
}
.margin-no p{
  margin: 0 0 0 0;
}
.offcanvas .tab-content{
  margin-top: 15px;
  display: inline-block;
}
.margin-no button{
  font-size: 12px;
  margin-right: 5px;
}
.list-editable li div{
  background-color: #fff;
  width: 230px;
  border: 1px solid #ccc;
  margin: 5px;
  display: inline-block;
  margin-bottom: 10px;
  padding:0 35px 0 10px;
  height: 36px;
  position: relative;
  cursor: move;
  line-height: 2.7em;
  border-radius: 5px;
}
 .color-picker {
  width: 19px;
  height: 19px;
  border-radius: 100%;
  position: absolute;
  cursor: pointer;
  left: 223px;
  top: 2px;
}
.list-editable li div i{
  position: absolute;
  top: 5px;
  left: -20px;
  width: 10px;
  height: 36px;
  font-size: 1.6em;
  color: #ccc;
}
.list-editable li > a.btn-flat:hover {
  color: #0a8bcb;
  background-color: #fff !important;
}
.sidebar-clients table{
  width: 100%;
}
.sidebar-clients td .form-group {
  position: relative;
  margin: 0px 0;
  padding-top: 0px;
}
.sidebar-clients .card, .client-card.card{
  margin-bottom: 0px;
  border: none;
  box-shadow: none;
}
.client-card.card{
  margin-bottom: 15px;
}
.sidebar-clients .card .card{
  margin-bottom: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.client-card.alert.alert-callout{
  padding: 0 0 0 10px;
}
.sidebar-clients .card .card-body, .client-card .card-body{
  padding: 5px 20px 10px 20px;
}
.sidebar-clients .card .card .card-head {
  line-height: 1em;
  min-height: 0;
  vertical-align: middle;
  border-radius: none;
}
.sidebar-clients .card .card .card-head .tools{
  float: none;
}
.sidebar-clients .card .card .card-body{
  padding: 0 0;
}
.sidebar-clients input:-moz-placeholder{
  color: #313534;
}
.sidebar-clients  input::-webkit-input-placeholder {
  color: #313534;
}
.sidebar-clients .card.active .card-body.style-default, .sidebar-clients .card.active .card {
  background: #fff;
  position: relative;
}
.sidebar-clients li .card.active{
  margin-right: -24px;
  padding-right: 24px;
}
.user-name{
  float: left;
}
.user-name div{
  display: inline-table;
  height: 64px;
}
.user-name div li{
  display: table-cell;
  vertical-align: middle;
}
.nav-tabs.nav-justified{
  margin: 2px 0 14px 0;
  border-radius: 3px;
}
.card-head > .nav-tabs.nav-justified li:first-child a{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.card-head > .nav-tabs.nav-justified li:last-child a{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.card-head > .nav-tabs.nav-justified > li > a {
  line-height: 35px;
}
.more-info a, .more-info span{
  font-size: 23px;
  color: #0a8bcb;
  line-height: 0em;
}
.sidebar-clients .card .card .card-body1{
  display: none;
}
.back a{
  text-decoration: none;
}
.back a i{
   transition: 0.4s;
}
.back a:hover i{
  color: #666;
}
.back i{
  margin: 0 10px 0px 0; 
}
body [class*=" md-"].md-playlist-add{
  font-size: 1.5em;
}
.sidebar-clients td, .twitter-typeahead label, .sidebar-clients td label.form-control {
  position: relative;
  vertical-align: top;
  color: #A0A0A0;
  font-size: 12px;
}
.sidebar-clients td span{
  color: #0a8bcb;
  cursor: pointer;
  position: absolute;
  bottom: -7px;
  right: -8px;
}
.grey{
  background: #e5e6e6;
}
.alert.alert-callout.style-default{
  background-color: inherit;
}
body .client-card header [class*=" md-"]{
  margin-bottom: 0px;
}
.client-card .card-body{
  line-height: 1.5em;
  padding: 0 20px 20px 20px;
}
.sidebar-clients .card-body tr td:first-child{
  width: 75px;
}
.sidebar-clients .card-bordered{
  border-bottom:1px solid #ccc;
  background: transparent;
}
.prev{
  margin-left: 50px;
}
#off-canvas1.filter-clients{
  width: 320px;
  font-size: 12px;
  padding: 10px 0 56px 0 !important;
  overflow-x: hidden; 
  overflow-y: scroll;
  background: #F6F6F6;
}
#off-canvas1 .sidebar-clients a{
  margin: 0 0 0 0;
}
.more-info a{
  width: 100%;
}
#off-canvas1.filter-clients li.active{
  background: #fff;
  margin-right: -3px;
  padding-right: 3px;
}
.filter-page .client-info {
  padding-left: 340px;
}
.sidebar-clients .tools{
  padding-right: 0px;
}
.card-head.card-head-xs header{
    white-space: nowrap;
    overflow: hidden;
    width: 235px;
    text-overflow: ellipsis;
    padding: 8px 5px 8px 18px;
}
.sidebar-clients li > .card{
  border-bottom: 1px solid rgb(186, 186, 186);
}
.client-card.card{
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}
/*#base{*/
  /*overflow: scroll;*/
/*}*/
.sidebar-clients .form-control  {
  border-bottom-color: transparent;
}
.twitter-typeahead{
  height: 20px;
  overflow: hidden;
}
.autocomplete{
  height: 20px;
}

/* DROPDOWNS USING JQUERY & UL - BASE */
.dropdown dd, .dropdown dt, .dropdown ul {
  margin: 0px;
  padding: 0px;
}
.dropdown dd {
  position: relative;
}
.dropdown dt a {
/*  background: transparent url('http://i.imgur.com/hRbauFc.png') no-repeat scroll right center;*/
  background: transparent;
  display: block;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  text-decoration: none;
  font-weight: normal;
}
.dropdown dt a > span {
  cursor: pointer;
  display: inline-block;
  padding: 8px 8px;
}
.dropdown dt a i{
  margin: 5px 0 5px 5px;
}
.dropdown dd ul {
  border: 1px solid #ccc;
  display: none;
  background: #fff;
  position: absolute;
  left: 0;
  z-index: 9;
  top: -1px;
  width: 100%;
}
.dropdown dd ul .input-sm{
  margin: 0 5px;
  line-height: 0em;
}
.dropdown dd ul .input-sm input{
  font-size: 12px;
}
.dropdown span.value {
  display: none;
}
.dropdown dd ul li a {
  padding: 0px 8px;
  display: block;
  text-decoration: none;
  color: #3C434A;
}
.dropdown dd ul li a:hover {
  background-color: #008BE1;
  color: #FFFFFF;
}
.dropdown dt a:hover, .dropdown dt a:active {
  border-color: #85929D;
}
.dropdown dd ul select{
  width: 100%;
   outline: none;
   font-size: 12px;
  -webkit-appearance: none;
  cursor: pointer;
  color: #3C434A;
  border-color: #A6AFB7;
  padding: 0px 7px;
 
  background: #FFFFFF url('http://i.imgur.com/hRbauFc.png') no-repeat scroll right center;
}
.dropdown dd ul button{
  font-size: 12px;
  margin: 5px 0;
}
.sidebar-clients .card.company-card{ 
  border: 2px dotted #ccc;
  margin:5px;
  padding: 5px 0;
}
.select2-container .select2-choice .select2-arrow{
  right: 12px;
}



.offcanvas .tab-content{
  width: 100%;
}
.sidebar-clients .input-sm{
  height: auto;
}
.sidebar-clients .select2-container-multi .select2-choices .select2-search-choice{
  font-size: 11.5px;
  line-height: 11.5px;
}
.more-info{
  text-align: center;
}
.more-info .fa,.more-info .btn-icon-toggle .md{
  line-height: 0.5em;
}
.more-info span.btn.btn-icon-toggle.btn-collapse{
  background: transparent;
}
.sidebar-clients  #off-canvas1 label{
  display: flex !important
}
.card-head > .nav-tabs.nav-styled li:first-child a{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.card-head > .nav-tabs.nav-styled li:last-child a  {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
 .card-head > .nav-tabs.nav-styled li a{
  background: #fff;
  border: none;
  border-bottom: 2px solid #F6F5F5;
}
.card-head > .nav-styled.nav-tabs li a:hover, .card-head > .nav-styled.nav-tabs li.active a{
  background: #fff;
  border-bottom: 2px solid #0a8bcb
}
.tables-tabs .nav-tabs.nav-styled li a:after, .card-head > .nav-tabs.nav-styled > li > a:after{
  display: none;
}
.card-head > .nav-styled {
  border: none !important;
}
.client-info {
  padding-right: 0;
}
.headerbar-left .header-nav{
  margin-left: 20px;
}
.content-popover a{
  display: block;
  font-size: 13px;
  margin: 5px;
  transition:0.3s;
}
.content-popover a:hover{
  color: #0a8bcb;
  text-decoration: none;
}
.content-popover a i{
color: #0a8bcb;
margin-right: 5px;
}
.header-nav > li.message-wrap{
  position: static;
}
.cabinet.dropdown .dropdown-menu{
  right: -11px;
  left: auto;
  top: 65px;
}
.message-wrap.dropdown .dropdown-menu {
  right: 0;
  left: auto;
  top: 65px;
}
.message-wrap.dropdown .dropdown-menu li.alert{
  margin: 0 0 0 0;
  font-size: 12px;
}
.message-wrap.dropdown .dropdown-menu p{
  line-height: 1.1em;
  margin-bottom: 3px;
}
.message-wrap.dropdown .dropdown-menu li div:first-child{
  display: inline-block;
  width: 100%;
}
.message-wrap.dropdown .dropdown-menu li div:first-child p:first-child{
  float: left;
}
.message-wrap.dropdown .dropdown-menu li div:first-child p:last-child{
  float: right;
}
.dropdown-menu > li.trial{
  padding: 15px 0 0 15px;
  width: 290px;
}
.trial p{
  float: left;
  width:60%;
  white-space: initial;
}
.trial button{
  float: right;
  margin: 5px 10px;
}
.message-wrap .dropdown-header{
  font-size: 15px;
  color: #252727;
  opacity: 1;
}
.message-wrap li a{
  text-decoration: underline;
  padding:0 0 0 0;
}
.message-wrap .tasks{
  color: #888787;
  width: 90%;
  white-space: inherit;
}
.more-message{
  margin: 10px 15px;
}
.descr{
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 14px;
  background: #fff;
}
.note-wrap {
  position: relative;
  max-width: 600px;
  margin-bottom: 20px;
}
.note-wrap:before {
  top: 11px;
  margin-top: 0;
}
.note-wrap:before {
  content: '';
  position: absolute;
  border-bottom: 6px solid transparent;
  border-right: 6px solid #ccc;
  border-top: 6px solid transparent;
  top: 17px;
  margin-top: -6px;
  left: -5px;
}
.note-wrap > div:first-child{
  background: #fcfcfc;
  color: #92989b;
  line-height: 20px;
  border-radius: 3px;
  padding: 16px 21px;
  -webkit-box-sizing: border-box;
  -mox-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  border: 1px solid #ddd;
  position: relative;
}
.note-wrap > div:before {
  content: '';
  position: absolute;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #fcfcfc;
  border-top: 5px solid transparent;
  top: 11px;
  margin-top: 0;
  display: block !important;
  left: -5px;
}
.tags_color{
  float: left;
}
.crm_edit{
  margin: 25px 0;
}
.crm_edit .dropdown{
  cursor: pointer;
  margin-bottom: 10px;     
}
.crm_edit .dropdown a{
  position: relative;
}
.permit{
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin-top: 4px;
  margin-right: 5px;
  margin-left: 4px;
  float: left;
}
.crm_edit .card h4{
  margin-bottom: 25px;
}
.crm_edit button{
  margin-right: 15px;
}
.crm_edit label{
  opacity: 0.7;
}
.crm_dropdowns label{
  font-size: 110%;
  margin-top: 6px;
}
.modul-tabs li a{
  text-align: center;
  text-decoration: none;
  border-radius: 2px;
  min-height: 86px;
  margin-right: 5px;
  min-width: 95px;
  padding: 0 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
}
.modul-tabs li a i{
  display: block;
  height: 35px;
  line-height: 2em;
  font-size: 2em;
}
.has-error .form-control{
    border-bottom-color: #f44336;
}
.sidebar-clients .has-error .help-block{
  display: none;
  font-size: 0px;
}
section:first-child{
  padding-top: 24px;
}
.sum{
  display: block;
  font-size: 55px;
  font-weight: lighter;
  padding: 0 24px;
}
.sum1{
  font-size: 40px;
}
.slick-prev, .slick-next{
  display: none !important;
}
.dashboard .card-head > .nav-tabs, .card-head > .nav-tabs.modul-tabs{
  border:none;
}
.dashboard .card-head > .nav-tabs{
    margin-top: -20px;
}
.dashboard .tables-tabs .nav-tabs li a:after, .dashboard .card-head > .nav-tabs > li > a:after, .modul-tabs li a:after{
  display: none;
}
.dashboard .nav-tabs > li.active > a, .dashboard .nav-tabs > li.active > a:hover, .dashboard .nav-tabs > li.active > a:focus{
  background: inherit;
  border-bottom: 2px solid #0a8bcb;
  border-radius: 0px;
}
.height-05{
  height: 188px;
}
.dashboard .title{
  margin-bottom: 0px;
}
.slick-slide{
  text-align: center;
  cursor: pointer;
  margin-top: 20px; 
}
.dashboard-statuses a{
  text-decoration: underline;
  font-size: 18px;
}
.statuses-slider .list{
  margin-top: 15px;
} 
.deals{
  margin-top: 20px;
}
td.company-title img{
  float: left;
  width: 32px;
  height: 32px;
}
td.company-title > div{
  margin-left: 50px;
}
.dropdown-menu {
  z-index: 9999;
}
.case{
  opacity: 0;
}
td:hover > .case{
  opacity: 1;
}
.crm_edit .card-head > .nav-styled{
  margin: 0 24px 10px 0;
}
.crm_edit .card-head > .nav-styled li a{
  font-size: 20px;
  line-height: 2em;
}
.module-card{
  margin-left: 140px;
  height: 130px;
  padding: 10px;
}
.margin-15{
  margin-top: 15px;
}
.thumbs{
  margin-bottom: 20px;
}
.thumbs img{
  width: 94px;
  margin: 2px 0;
}
#largeImg{
  width: 100%;
  margin-top: 15px;
}
.module-open .card-body h2{
  margin-top: 0;
}
.module-open  .description p{
  margin: 10px 0;
}
.about-module{
  margin: 20px 0;
}
.about-module ul.nav-styled{
  margin-left: 0;
}
.about-module .tab-content.card-body{
  padding-left: 0;
}
.img_size{
  width: 130px;
  height: 130px;
  overflow: hidden;
}
.crm_edit .form-control{
  padding: 4px 15px;
}


/************exapmpe page and blank page!!!!!!!!!! ***********/

.twitter-typeahead{
  height: 0;
  display: none !important;
}
#offcanvas-search .nav-tabs.nav-justified > .active > a, #offcanvas-search .nav-tabs.nav-justified > .active > a:hover, #offcanvas-search .nav-tabs.nav-justified > .active > a:focus{
  border-bottom: none;
}
.dropdown .checkbox-styled:not(ie8), .dropdown .radio-styled:not(ie8){
  vertical-align: top;
  padding:0  10px;
}
.example.dropdown dd ul li a{
  padding: 5px 8px;
}
.example .checkbox-styled:not(ie8) input:checked ~ span:before{
  top: 0;
}
.blank-ol li ul{
  padding-left: 40px;
}

/*************end blank and *********/


.color-list a{
  font-size: 23px;
}
.color-list li{
  padding: 0;
  line-height: 2.3em;
}
.color-list{
  margin-bottom: 0;
}
.popover.right{
  margin-left: 0;
}
.filter-page .tab-pane.client-info.mob-max-content{
    padding-left: 0;
}
.mob-max-filter{
    left: -320px;
}
.border-none{
  border: none !important;
}
.msg{
  margin-left: 15px;
  color: #fff;
  margin-right: 5px;
  padding: 2px 8px;
  border-radius: 2px;
}
.notice p{
  margin-top: 15px;
  opacity: 1;
}
.notice .row:first-child  p{
  margin-top: 0;
}
.notice label, .notice .new_lide{
  margin: 0;
}
#off-canvas1 .dropdown dt a{
  margin: 0 0 0;
}
.form .form-group .input-group-addon:first-child{
  background: transparent;
  border: transparent;
}
.crm_dropdowns .col-sm-6 h4{
  margin-top: 30px;
}
.crm_edit .card-head > .nav-tabs.nav-styled li a{
  font-size: 15px;
}
.dashboard .height-05{
  height: auto;
}
.filter-menu nav > ul{
  padding-left: 0;
}
.helper{
  font-size: 165%;
  line-height: 0.2em;
}
.sidebar-clients .msg {
  padding: 1px 4px;
  border-radius: 2px;
  font-size: 88%;
  margin-left: 3px;
  float: right;
  line-height: 1.2em;
  margin-top: 8px;
  text-shadow:none;
}
.input-group-addon.alarm {
  padding-left: 5px;
}
.truncate_more_link{
  margin: 0 5px ;
  opacity: 0.7;
  text-decoration: underline;
}
.preview-wrp{
  margin: 20px 0;
}
.preview{
  font-size: 110%;
  display: inline;
}
.help-block{
  bottom: -22px;
}
.offcanvas .form-group button:first-child{
  margin-right: 5px;
}
.add .header-nav a.text-primary{
  color: #0a8bcb;
}
.sidebar-clients .style-default-light{
  background: #F6F6F6;
}
#off-canvas1 a.select2-choice{
  margin: 0 0 0 0;
}
.amount p{
  font-size: 17px;
}
.amount select{
  opacity: 0.7;
  height: 31px;
}
.amount button{
  margin-left: 20px;
}
.empty-top{
  margin-top: 70px;
}
.billing .card h2.text-primary{
  margin-top: 0;
}
.billing .tab-content .tools.opacity-75{
  font-size: 18px;
}
.add .header-nav-options a{
  display: inline-block;
}
.navbar-search.expanded input {
  max-width: 300px;
}
.add_phone{
  color: #0a8bcb;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 17px;
}
.card-body  .old-task{
  text-decoration: line-through;
  margin-bottom: 20px;
}
.landing-ico{
  font-size: 100%;
}
.landing-ico i, .autopay label a i{
  margin-top: 0;
  margin-bottom: 0;
}
.style-danger .amount select{
  color: #fff;
}
.style-danger-light{
  background-color: #FFC2BD;
}
.card-body .action{
  font-weight: bold;
  font-size: 140%;
}

/****filter dropdown style******/

.filter-menu .dropdown dt a, .dropdown.dropdown-styled a, #offcanvas-search .dropdown dt a{
  border: none;
  border-bottom: 1px solid rgba(12, 12, 12, 0.12);
  border-radius: 0 !important;
  color: #999;
}
#offcanvas-search .dropdown dt a span, .dropdown.dropdown-styled dt a span{
  color: #999;
}
.filter-menu .dropdown dt a .arrow, .dropdown dt a .arrow, .dropdown.dropdown-styled dt a .arrow{
  position: absolute;
  right: 9px;
  font-size: 160%;
  color: #555;
  bottom: -9px;
}
.filter-menu .dropdown dd ul, #offcanvas-search .dropdown dd ul, .dropdown.dropdown-styled dd ul{
  border-top-color: #0a8bcb;
  padding: 20px 0;
}
.dropdown.dropdown-styled dd ul li a{
  border: none;
  margin: 0 5px 5px 5px;
  padding: 3px 5px;
}
/*****end filter dropdown style ****/


.edit_tabs .nav-tabs > li.active a{
  border-bottom: 2px solid #0aa89e;
  background: #fff;
}
.edit_tabs .nav-tabs > li a:hover, .edit_tabs .nav-tabs > li a:focus{
  background: #fff;
}
.input-daterange input.text-left{
  text-align: left;
  padding-left: 15px;
}
.input-daterange label{
  opacity: 0.5;
  margin-bottom: 0;
  font-size: 14px;
}
.form-control-alt{
  padding-top: 7px;
}




/***** no-bootstrap modal ***********/
#modal-default .modal-open {
  overflow: hidden;
}
#modal-default {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  font-family: "Roboto", sans-serif, Helvetica, Arial, sans-serif;
}
#modal-default .modal-open #modal-default {
  overflow-x: hidden;
  overflow-y: auto;
}
#modal-dialog h3 {
  margin: 0;
}
#modal-default .modal-body {
  position: relative;
  padding: 15px;
}
#modal-default .modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
#modal-default .modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
#modal-default .modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
#modal-default .modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
#modal-default .modal-sm {
  width: 300px;
}
#modal-default .fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
#modal-default .modal-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #000000;
}
#modal-default .fade.in {
  opacity: 1;
}
#modal-default .modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
#modal-default .modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
#modal-default .btn-primary {
  color: #0a8bcb;
  color: #ffffff;
  background-color: #0a8bcb;
  border-color: #0a8bcb;
}
#modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
#modal-default.fade #modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
#modal-default.in #modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
#modal-default .form-control:focus {
  border-color: #0a8bcb;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#modal-default .form-control::-moz-placeholder {
  color: #969c9c;
  opacity: 1;
}
#modal-default .form-control:-ms-input-placeholder {
  color: #969c9c;
}
#modal-default .form-control::-webkit-input-placeholder {
  color: #969c9c;
}
#modal-default label{
  display: inline-block;
  max-width: 100%;
  font-weight: bold;
}
#modal-header {
  padding: 10px;
}
#modal-default .text-center {
  text-align: center;
}
#modal-default .modal-footer {
  padding: 15px;
  text-align: center;
}
#modal-default .btn-danger {
  color: #f44336;
  color: #ffffff;
  background-color: #f44336;
  border-color: #f44336;
}
#modal-default .btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 4.5px 14px;
  font-size: 13px;
  line-height: 1.846153846;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#modal-default .modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
  padding: 10px;
}
#modal-default .close {
  margin-top: -2px;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
   float: right;
  font-size: 19.5px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  margin-top: -2px;
}
#modal-default .form-control {
  display: block;
  font-family: "Roboto", sans-serif, Helvetica, Arial, sans-serif;
  width: 100%;
  line-height: 1.846153846;
  background: transparent;
  color: #0c0c0c;
  font-size: 16px;
  background-image: none;
  padding: 0;
  height: 37px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom-color: rgba(12, 12, 12, 0.12);
  border-radius: 2px;
 -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
#modal-default .form-control.placeholder {
  color: #969c9c;
}
#modal-default .form-control[disabled],
#modal-default .form-control[readonly],
#modal-default fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: transparent;
  border-bottom-color: rgba(12, 12, 12, 0.2);
  border-bottom-style: dashed;
  opacity: 1;
}
#modal-default .form-control[disabled]::-moz-placeholder,
#modal-default .form-control[readonly]::-moz-placeholder,
#modal-default fieldset[disabled] .form-control::-moz-placeholder {
  color: #b0b5b4;
  opacity: 1;
}
#modal-default .form-control[disabled]::-webkit-input-placeholder,
#modal-default .form-control[readonly]::-webkit-input-placeholder,
#modal-default fieldset[disabled] .form-control::-webkit-input-placeholder {
  color: #b0b5b4;
}
#modal-default .form-control[disabled] ~ label:after,
#modal-default .form-control[readonly] ~ label:after,
#modal-default fieldset[disabled] .form-control ~ label:after,
#modal-default .form-control[disabled] ~ .form-control-line:after,
#modal-default .form-control[readonly] ~ .form-control-line:after,
#modal-default fieldset[disabled] .form-control ~ .form-control-line:after {
  display: none;
}
#modal-default .form .form-group,
#modal-default .form-inline .form-group {
  padding-top: 16px;
}
#modal-default .form-group {
  position: relative;
  margin-bottom: 19px;
}
#modal-default .form-group .form-control:not(.static) ~ label,
#modal-default .form-group .form-control:not(.static) ~ .form-control-line {
  -webkit-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
}
#modal-default .form-group .form-control ~ label,
#modal-default .form-group .form-control ~ .form-control-line {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  pointer-events: none;
}
#modal-default .form-group .form-control ~ label:after,
#modal-default .form-group .form-control ~ .form-control-line:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 45%;
  height: 2px;
  width: 10px;
  visibility: hidden;
  background-color: #0a8bcb;
  -webkit-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
}
#modal-default .form-group .form-control ~ label {
  top: 0;
  margin-bottom: 0;
  font-size: 12px;
  opacity: 0.5;
}
#modal-default .form-group .form-control:focus {
  border-color: rgba(12, 12, 12, 0.12);
}
#modal-default .form-group .form-control:focus ~ label {
  color: #0a8bcb;
  opacity: 1;
}
#modal-default .form-group .form-control:focus ~ label:after,
#modal-default .form-group .form-control:focus ~ .form-control-line:after {
  visibility: visible;
  width: 100%;
  left: 0;
}
#modal-default .floating-label .form-control ~ label {
  top: 19px;
  font-size: 16px;
}
#modal-default .floating-label .form-control:focus ~ label,
#modal-default .floating-label .form-control.dirty ~ label {
  top: 0px;
  font-size: 12px !important;
}
#modal-default .form-horizontal .form-control ~ .form-control-line {
  left: 12px;
  right: 12px;
  width: auto;
}
#modal-default .form-horizontal .input-group .form-control ~ .form-control-line {
  left: 0;
  right: 0;
}
/************end*************/


.min-price{
  margin-top: 20px;
}
.del{
  position: absolute;
  top: 15px;
  right: 0;
}
.ui-draggable{
  cursor: move;
}
.ui-draggable input{
  cursor: auto;
}
.variables .list .tile{
  display: block;
}
.variables .list li.divider-full-bleed:after, .variables .list li.divider-inset:after, .variables .list.divider-full-bleed li:after, .variables .list.divider-inset li:after{
  background: transparent;
}
.variables .list .tile .form-group{
  margin-bottom: 0;
}
.variables .add-tags{
  display: block;
  margin: 10px 0;
}
.variables .note{
  line-height: 1.4em;
  display: block;
}
.reg-phone{
  background: url(../../images/ru.png) no-repeat left transparent;
  padding-left: 25px;
  position: absolute;
  bottom: 0px;
  left: 0;
  font-size: 16px;
  line-height: 37px;
}
.phone-ru{
  padding-left: 50px;
}
.title-result{
  margin-right: 20px;
}
.select2-dropdown-open .select2-choice, 
.select2-dropdown-open.select2-drop-above .select2-choice, 
.select2-dropdown-open.select2-drop-above .select2-choices{
  background: transparent;
}
#off-canvas1  .input-daterange label{
  opacity: 1;
}
.edit_product .panel-group span{
  font-size: 14px;
}
.add .header-nav .data{
  display: inline-block;
}
dl{
  margin-bottom: 0;
}
.add .header-nav .dropdown-menu a{
  display: inherit;
}
.additionally li{
  margin: 0px 15px;
}
.popover-content textarea{
  text-align: center;
  border-color: #ccc;
}
.btn.btn-icon-toggle.k-button {
  box-shadow: none;
}
.md.k-icon{
  width: inherit;
  height: inherit;
  opacity: 1;
}
.analitics{
  margin-bottom: 40px;
}
.analytics .panel-group .panel{
  margin-bottom: 20px;
}
.more-wrp{
  display: none;
}
.table-bordered > tbody > tr > td.tools{
  background-color: #fff;
  border-color: transparent;
}
.analytics .panel .text-lg{
  font-size: 160%;
}
.analytics .panel-group .panel{
  border-color: transparent;
  box-shadow: none;
}
.analytics .panel-group .panel .catd-head a.text-primary:hover{
  color: #ccc;
}
.table-striped > tbody > tr:nth-of-type(odd).warning{
    background-color: #faebd4;
}
.disabled-data{
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding-top: 20%;
  text-align: center;
}
#offcanvas-search .nav-tabs a, .nav-tabs > li > a{
  margin: 0 0 0 0;
  border-radius: 0;
  padding: 0 13px;
}
.card-head.nav-tabs.button-tabs > li > a, .card-head > .nav-tabs.button-tabs > li > a{
  line-height: 30px;
}
.sidebar-clients .input-sm.add_object{
  background: #fff;
  padding-left: 10px;
}
.card.style-danger-light{
  background: #fad7d4;
}
.alert.style-primary-bright{
  background: #caf0ee;
} 
.select2-container.form-control.height-30{
  height: 35px;
}
.hide{
  display: none;
}
.modal-header .close.close1{
  margin-top: 0;
  color: #0a8bcb;
  opacity: 1;
}
.select2-search-choice{
  text-shadow: none;
}
/*.form-horizontal .form-group.choice{
  margin-top: 25px;
}
*/


/******modal filter ********/

.modal #content, .modal section.client-info,
.modal #content .section-body:first-child
{
  padding-top: 0;
  margin-top: 0;
}

/***************end*******/

/*.header-nav > li > a.btn-primary:hover, .header-nav > li > a.btn-primary:focus{*/
  /*background-color: #08867e;*/
  /*border-color: #08867e;*/
/*}*/
.btn .pull-right, .btn .pull-left {
  line-height: 1.8em;
}
.client-info.tab-pane{
  padding-top: 0;
}
.sidebar-clients li a.active{
  background: #fff;
}
.modules > li{
  padding-top: 15px;
}
ul.dropdown-menu.small-padding{
  padding:12px;
}
.status{
  padding: 2px 5px;
  margin-left: 10px;
}

#off-canvas1 .sidebar-clients .inside-tabs a{
  padding-top: 0;
  border-bottom: 0;
  background: #fff;
  line-height: 30px;
  margin: 0 0 0 0;
  border-radius: 0;
  padding: 0 8px;
  position: relative;
  line-height: 3em;
  background: #F3F3F3;
  border: none;
}
.card-head > .nav-tabs.inside-tabs{
  border: none;
  margin: 12px auto;
  display: table;
  margin: 12px 24px;
  border: 1px solid #D9D9D9;
  border-radius: 8px;
  overflow:hidden;
  margin: 10px auto;
}
.card-head > .nav-tabs.inside-tabs li:last-child{
  margin-right: -1px;
}
.card-head > .nav-tabs.inside-tabs li:last-child a:after{
  display:none;
}
#off-canvas1.filter-clients .inside-tabs li.active{
  margin-right: 0;
  padding-right: 0;
}
.orange-circkle{
  background: orange;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin-right: 10px;
}
.card-body .text-xs p{
  font-size: 12px;
}
.left-sm{
  margin-left: 20px;
}
.wrapper{
  display: inline-block;
  line-height: 1.7em;
}
#off-canvas1.filter-menu{
  padding-left: 25px;
  padding-right: 25px;
}
#toTop {
  border: 1px solid #E4E4E4;
  background: #fff;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 10px;
  right: 35px;
  cursor: pointer;
  display: none;
  z-index: 10;
}
.dropzone.dropzone-styled{
  display:inline-block;
  min-height: 0;
}
.dropzone.dropzone-styled .dz-message{
  margin: 0 0;
}
.dropzone.dz-started .dz-message{
  display: block;
  width: 100%;
}
.sidebar-clients .card.margin-bottom-xl{
  margin-bottom: 10px;
}
.sidebar-clients .card .card.alert{
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  cursor: pointer;
}
.menu-inside{
  padding-top: 15px;
}
.menu-inside li{
  margin-bottom: 12px;
}
.buttons ul li{
  margin: 5px 0;
}
.form_generate{
  max-width: 500px;
}
.sidebar-clients .card .card.alert.alert-warning:hover, .sidebar-clients .card .card.alert.alert-warning:focus, 
.sidebar-clients .card .card.alert.alert-warning:active,.sidebar-clients .card .card.alert.alert-warning.active{
  -webkit-box-shadow: 0px 1px 6px 0px rgba(196, 87, 0, 0.9);
  box-shadow: 0px 1px 6px 0px rgba(196, 87, 0, 0.9);
}
.sidebar-clients .card .card.alert.alert-danger:hover, .sidebar-clients .card .card.alert.alert-danger:focus, 
.sidebar-clients .card .card.alert.alert-danger:active,.sidebar-clients .card .card.alert.alert-danger.active{
  -webkit-box-shadow: 0px 1px 6px 0px rgba(133, 16, 16, 0.9);
  box-shadow: 0px 1px 6px 0px rgba(133, 16, 16, 0.9);
}
.autosave{
  vertical-align: bottom
}
#off-canvas1 .sidebar-clients .all-list{
  border-bottom: 1px dashed #0a8bcb;
  border-radius: 0;
  display: table;
  margin: 17px auto 0;
  line-height: 1em;
  font-size: 15px;
}

/* переопределение кендо */
.k-button.k-button-icontext.md {
    box-shadow: none;
    line-height: 1.9em;
    background: transparent;
    border: none;
    border-radius: 999px !important;
    padding: 0px 7px;
    margin: 0px 1px;
    height: 28px;
    width: 28px
}

.button-column .k-button.k-button-icontext.md {
    line-height: 1.7em;
    height: 32px;
}

.k-button.k-button-icontext.md:hover {
    background-color: rgba(12, 12, 12, 0.07);
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: inherit;
}

.md span.k-icon {
    background-image: none;
    width: inherit;
    height: inherit;
    opacity: 1;
}
.k-grid tbody .k-button, .k-ie8 .k-grid tbody button.k-button {
    min-width: 32px;
}
.btn.btn-icon-toggle.k-button {
    box-shadow: none;
    line-height: 0.8em;
}

#custom-grid-tools{
  margin: 0 .16em;
  vertical-align: middle;
  display: block;
  float: right;
}
/* переопределение kendo end */



.alert .card-head.card-head-xs header{
  width: auto;
  padding: 8px 5px 8px 10px;
}
#off-canvas1 .alert .card-head.card-head-xs .pull-right .btn{
  padding: 2px 6px 0 0;
  float: left;
}
.btn.btn-styled{
  margin-top: 10px;
  margin-left: -20px;
}
[contenteditable] {
  display:block;
  padding: 3px 5px;
  border: 1px solid rgba(163, 168, 168, 0.2);
  white-space: pre-wrap;
  word-wrap: break-word;
  background: #fff;
}
[contenteditable]:focus {
  border: 1px solid #d2bf94;
  background: #fff;
}
.style[contenteditable]:before {content: "\3cstyle\3e"; color: #8f494f;}
.style[contenteditable]:after {content: "\3c\2fstyle\3e"; color: #8f494f;}

.card-body p.choice{
  margin-left: 15px;
  margin-bottom: 15px;
}
.additionally.style-default-light{
  padding: 20px 15px 10px 15px;
}
.margin-right{
  margin-right: 10px;
}
table th i{
  font-style: normal;
}
.create-form .card-head ul.nav-tabs{
  float: left;
  display: inline-block;
}



/* переключатели радиокнопками*/

body ~ :checked {}

.button-tabs > input {display:none}

.button-tabs >label {
  background-color: #f3f3f3;
  cursor: pointer;
  display: table-cell;
  padding: 5px 15px;
  float: left;
  border: 1px solid #ccc;
}
.button-tabs > label.first-label{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.button-tabs > label.last-label{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.button-tabs .radio-content {
  display:none;
}

/* tabs-1 */

#tabs-1 :checked + * + * + label, #tabs-2 :checked + * + * + label { 
  background-color: #E5E5E5;
  color: #0a8bcb;
  font-weight: bold;
}
#tabs-1 :checked + * + * + * + * + * + .radio-content, #tabs-2 :checked + * + * + * + * + * + .radio-content { 
  display: inline-block; 
  width: 100%;
  margin-top: 20px; 
}
/*******end ереключатели радиокнопками*/


.margin-top-lg{
  margin-top: 22px;
}
.margin-top-xlg{
  margin-top: 28px;
}
.margin-top-md{
  margin-top: 17px;
}
.margin-top-sm{
  margin-top: 13px;
}
.links{
  border-bottom: 1px dashed #0a8bcb;
  margin-right: 10px;
  line-height: 1.5em;
  cursor: pointer
}
.links:hover,.links:focus, .links:active{
  text-decoration: none;
  border-bottom: none;
}
.padding-xs{
  padding: 5px;
}
.domens-table tr:last-child td{
  border-right-color: transparent;
}
.domens-table tr:last-child td:last-child{
  border-right-color: inherit;
}
.left-no-padding{
  padding-left: 0;
}



@-webkit-keyframes pulse {
 0% {
 -webkit-transform: scale(1, 1);
}
 50% {
 -webkit-transform: scale(1.1, 1.1);
}
 100% {
 -webkit-transform: scale(1, 1);
};
}

@keyframes pulse {
 0% {
 transform: scale(1, 1);
}
 50% {
 transform: scale(1.1, 1.1);
}
 100% {
transform: scale(1, 1);
};
}

.heart {
  width: 105px;
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 0;
  -webkit-animation: pulse 1s linear infinite;
  animation: pulse 1s linear infinite;
}
.crm-text{
  z-index: 1;
  position: relative;
}
#list{
  margin-top: 10px;
}
#list img{
  float: left;
  width: 21px;
  margin: 10px 5px;
}


.loader{
  position: absolute;
  top: 10px;
  width: 120px;
  right: 20px;
 -webkit-animation: preloader 5s infinite linear;
 -moz-animation: preloader 5s infinite linear;
 -ms-animation: preloader 5s infinite linear;
 -o-animation: preloader 5s infinite linear;
 animation: preloader 5s infinite linear;
}

@-webkit-keyframes preloader {
 to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes preloader {
 to { -moz-transform: rotate(360deg); }
}

@-ms-keyframes preloader {
 to { -ms-transform: rotate(360deg); }
}

@-o-keyframes preloader {
 to { -o-transform: rotate(360deg); }
}

@keyframes preloader {
 to { transform: rotate(360deg); }
}
#robot2, #robot3 {
display:none;
}



/*
#File1 { position: absolute; }

.customFile {
    width: 219px;
    margin-left: -140px;
    cursor: default;
    height: 21px;
    z-index: 2;
    filter: alpha(opacity: 0);
    opacity: 0;
}
.fakeButton {
  content: 'загрузить';
    position: absolute;
    z-index: 1;
    width: 85px;
    height: 21px;
    background: #0aa89e;
    float: left;
}
 
  .blocker
  {
      position: absolute;
      margin-left: -9999999px;
  }
  #FileName
  {
      position: absolute;
      height: 15px;
      margin-left: 90px;
      font-family: Verdana;
      font-size: 8pt;
      color: Gray;
      margin-top: 2px;
      padding-top: 1px;
      padding-left: 19px;
  }
  #activeBrowseButton
  {
      background: red top left;
      display: none;
  }
*/
#year-price, #year-price1{
  display: none;
}

#minus, #plus {
 padding: 3px 10px; 
 background: #f1f1f1; 
 display: inline-block;
 cursor: pointer;  
 font-weight: bold;
 transition: 0.5s;
}
#plus{
  margin-right: 7px;
}
#minus:hover, #plus:hover, 
#minus:focus, #plus:focus{
  background: #0a8bcb;
  color: #fff;
}
.numbertype{
  width: 35px;
}
.no-select{
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;    
}
.price-btn{
  margin: 15px auto;
  width: auto;
  display: table;
  border: 1px solid #D9D9D9;
  border-radius: 8px;
  overflow: hidden;
}
.price-btn li{
  padding: 0;
  font-size: 0;
  display: inline-flex;
}
.price-btn li a:hover, .price-btn li a:focus, .price-btn li a:active{
  text-decoration: none
}
.price-btn li a{
  font-size: 14px;
  background-color: #F7F7F7;
  padding: 6px 9px;
}
.price-btn li a.active{
  background: #ECEAEA;
  color: #0781cb;
  font-weight: bold;
}
.border-primary {
  border-color: #0a8bcb;
}
.top-box{
  /*position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;*/
  width: 100%;
}
.bottom-box{
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
}
.box{
 /* padding: 60px 30px;*/
 margin-top: 0px;
 position: relative;
 padding: 0 30px 0 30px;
 color: #EAEAEA;
 font-weight: 200;
 text-align: center;
text-shadow: 1px 0px 1px rgba(0,0,0,0.5);
 background: #B87E3F;

}

/*.box{
  background: url(../../images/box.png) no-repeat;
  background-size: 100% 100%;
}*/
.fraction, .top, .bottom {
  padding: 0 3px;    
}

.fraction {
  display: inline-block;
  text-align: center;    
  font-size: 85%;
}

.bottom{
  border-top: 1px solid #000;
  display: block;
}
.card-type-pricing .bottom{
  border-top: 1px solid #fff;
}
.padding-right-lg{
  padding-right: 115px;
}
#opened_case{
  display: none;
  color: #EAEAEA;
 font-weight: 200;
 text-align: center;
}
.box1{
 margin-top: 0px;
 position: relative;
 padding: 20px 30px 30px 30px;
 color: #EAEAEA;
 border-right: 14px solid #844A20;
 border-left: 14px solid #844A20;
 font-weight: 200;
 text-align: center;
 background: #66442b;
text-shadow: 1px 0px 1px rgba(0,0,0,0.5);
}
.pull-left1{
  float: none;
  display: inline-block;
}
#all_func, #less_func{
cursor: pointer;
border-bottom: 1px dashed #fff;
text-shadow: 1px 0px 1px rgba(0,0,0,0.5);
}
#all_func:hover, #less_func:hover, #all_func:focus, #less_func:focus{
  border-bottom: none;
}
.wrp-case{
  position: relative;
  margin-top: -100px;
  margin-bottom: 30px;
}
.ifn{
  line-height: 0;
  vertical-align: middle;
}
.card-type-pricing{
  padding-bottom: 50px;
}
.style-primary.style-pro{
  background: #966A49;
}



/*#wrapper {
 width: 642px;
 margin: 0 auto;
 padding-right: 243px;
}
#container {
 position: relative;
 z-index: 10;
}
#fixed {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
}
.fixed {
 position: relative;
 width: 240px;
 margin: 0 auto;
 top: 10px;
 left: 323px;
}
*/
.sticky {
  position: fixed;
  z-index: 101;
}
.stop {
  position: relative;
  z-index: 101;
}
.popover-btn{
  cursor: pointer;
}
.filter-page.card{
  margin-bottom: 0;
}
.radio-content [contenteditable]{
  margin-top: 10px;
}









.file-upload {
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;

}
.file-upload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
#fileuploadurl{
  display: inline-block;
  border:none;
  vertical-align: bottom;
  background: none;
  font-size: 14px;
  border-radius: 0;
  padding-left: 0;
  border-bottom: 1px solid #ccc;
}


.modal-content{
  width: 500px;
}
.modal-header, .modal-footer{
  border-color: transparent;
  padding: 20px;
}
.modal-footer{
  text-align: center;
}
h2{
  margin-bottom: 24px;
}
.form-horizontal .control-label{
  text-align: left;
}

.more-message .fa-arrow-right{
  margin-left: 10px;
  color: rgb(10, 139, 203);
}
.more-message > a:hover, .more-message > a:focus {
  text-decoration: none !important;
  color: rgb(10, 139, 203) !important;
  background-color: transparent !important;
}
.select2-container--default .select2-selection--single {
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid rgb(217, 217, 217);
}
select.input-sm, .select2-container{
  outline: none;
}
.bootstrap-tagsinput {
  background-color: transparent;
  border:none;
  border-bottom: 1px solid rgba(12, 12, 12, 0.12);
  box-shadow: none;
  border-radius: 0;
  display: block;
}

#droptarget-hidden-columns header, #droptarget-hidden-columns .columns-drop span i{
  color: #0A8BCB;
}
.select2-container .select2-selection--single .select2-selection__rendered{
  padding-left: 0;
}
*{
  outline: none;
}
.ms-container{
  width: 100%;
  background: transparent url('/../images/switch.png') no-repeat 50% 50%;
}
.ms-container .ms-selectable li.ms-hover, .ms-container .ms-selection li.ms-hover{
  color: #555;
  background-color: #F3F3F3;
}

.ms-container .ms-list.ms-focus{
  border-color: rgba(10, 139, 203, 0.4);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(10, 139, 203, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(10, 139, 203, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(10, 139, 203, 0.6);
  outline: 0;
  outline: thin dotted \9;
}
.menubar-fixed-panel .expanded a span{
  white-space: nowrap;
}
.slider.slider-horizontal{
  width:100%;
}


.slider-selection{
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.05);
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.05);
  background-color: rgba(12, 142, 207, 0.05);
  background-image: none;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.header-nav > li > a.btn-primary:hover, .header-nav > li > a.btn-primary:focus {
  color: #ffffff;
  background-color: #0874a9;
  border-color: #0874a9;
}
@media screen and (max-width: 1200px) {
  .start-btn button span span{
    display: none;
  }
  .card-head > .nav-tabs {
    margin: 12px 10px;
  }
  .card-head header{
    line-height: 21px;
  }
  .edit-profile1 .card-actionbar button span{
    display: none;
  }
  .nav-tabs.nav-justified {
    margin: 2px 0 14px 0;
    font-size: 12px;
  }
  .client-info .card-head > .nav-tabs.nav-justified li a{
    padding: 0 0px;
  }
  .thumbs img{
    width: 85px;
    margin: 4px;
  }
}

@media screen and (max-width: 991px) {
  .card-head > .nav-tabs.nav-styled li a{
    font-size: 12px;
    padding: 0 5px;
  }
  .about-module .tab-content.card-body{
    padding-top: 0;
  }
  .thumbs img{
    margin: 1px 0;
    width: 80px;
  }
  .img_size {
  width: 145px;
  height: 145px;
  }
  .crm_dropdowns label{
    margin: 0;
  }
  .crm_edit .dropdown{
    margin-bottom: 8px;
  }
  .module_card{
    padding: 24px 15px;
  }
  .module_connect{
    margin-top: 20px;
  }
  .empty-top{
    margin-top: 0px;
  }
}

@media screen and (max-width: 768px) {
#content{
  padding-top:25px;
}
.add{
    min-height: 0px;
}
main .headerbar-left{
  background: transparent;
}
.info-btn {
  margin: 14px 0 14px 80px;
}
main .btn-icon-toggle .fa, main .btn-icon-toggle .md, main .btn-icon-toggle .glyphicon{
  color: #9B9B9B;
}
#off-canvas1{
  top: 64px;
  left: -320px;
}
.tables-tabs{
  margin-left: 0;
  float: left;
  display: block;
  width: 100%;
  text-align: center;
  z-index: 9;
  margin: 80px auto 0;
}
.table_wrap{
  padding-left: 0px;
}
.tables-tabs ul{
  display: inline-block;
  line-height: 3em;
}
.offcanvas   .tables-tabs{
  margin-top: 0px;
}
.nav-tabs.nav-justified > li{
  display: table-cell;
  width: 1%;
}
section  .tab-content.style-default{
  background: #fff;
}
.tags_color {
  float: left;
  margin-left: 25px;
}
.filter-page .tab-pane.client-info{
  padding-left: 0;
}
.search1{
    margin-top: 65px;
  }
  .search_module{
  margin-left: 12px;
}
.module_add{
  top: 0;
}
#content.module-list, #content.filter-page{
  padding-top: 70px;
}
.navbar-search.expanded .form-group {
  max-width: 200px;
}
.navbar-search{
  margin-bottom: 0;
}
.input-group-addon:first-child, .input-group-btn:first-child{
  padding-left: 15px;
}
.deal-tabs.tables-tabs{
  margin-left: 0;
}
.filter-page.analytics{
  padding-left: 15px;
}
#content.filter-page.analytics{
  padding-top: 0;
}
.disabled-data{
  padding-top: 30%;
}
  /*.prev{*/
    /*z-index: 10;*/
    /*font-size: 0;*/
  /*}*/
  /*.prev i{*/
    /*font-size: 14px;*/
  /*}*/
}




@media screen and (max-width: 800px) {
  .btn{
    letter-spacing: -0.5px;
  }
}


@media screen and (max-width: 579px) {
  .demo-page h1{
    margin-top: 28%;
  }
  h1, .h1{
    font-size: 28px;
  }
  .add button{
    display: none;
  }
  .add .header-nav > a{
    display: inline-block;
    opacity: 1;
    line-height: 1em;
    font-size: 160%;
    margin: 0 5px;
  }
  .add .header-nav a.tools, .add .header-nav .tools-dropdown .dropdown-menu a{
    font-size: 100%;
    line-height: 1.8em;
  }
  .add .header-nav a.tools [class*=" md-"],  .add .header-nav a.tools [class^=md-]{
    margin-bottom:0;
  }
  .nav-tabs.nav-justified > li a{
    font-size: 11px;
    padding: 0 10px;
  }
  .msg{
    display: none;
  }
  .deal-tabs.tables-tabs{
    margin-left: 0;
  }
  .buttons{
    text-align: left;
  }
  #content{
    padding-top: 0;
  }

}



@media (min-width: 569px){
#modal-dialog {
  width: 500px;
  margin: 30px auto;
}
#modal-default .modal-content {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
}


@media screen and (max-width: 480px) {
  .edit-profile1 h2{
    font-size: 21px;
  }
  .edit-profile1 .card{
    margin: 25px 0;
  }
  .male{
    margin-top: 5px;
  }
  .checkbox-styled:not(ie8) input ~ span, .radio-styled:not(ie8) input ~ span{
    vertical-align: top;
    font-size: 12px;
  }
   .edit-profile1 .card-actionbar-row{
    text-align: center;
  }
  .card-head header{
    line-height: 23px;
  }
  .headerbar-right .btn {
    font-size: 13px;
    margin: 0 5px;
  }
  .modal-footer button, .btn{
    font-size: 12px;
  }
  .header-nav .header-nav-brand{
    margin-right: 0px;
  }
  .header-nav > li{
      padding: 14px 0 14px 0px;
  }
  .info-btn .btn{
    padding: 4.5px 5px;
    font-size: 13px;
  }
  .start-btn{
    float: none;
  }
  .start-btn li, .start-btn button{
    width: 100%;
  }
  .info-btn {
    margin: 14px 0 14px 55px;
  }
  main .headerbar-right .btn{
    font-size: 12px;
  }
  .modal-content .card-body{
    padding: 0 25px;
  }
  .form-control{
    height: 30px;
  }
  .fa-lg{
    font-size: 1.1em;
  }
  .form .form-group .input-group-addon:first-child{
    min-width: 35px;
  }
  h3, .h3{
    font-size: 18px;
  }
  .help-block{
    font-size: 11px;
  }
  #reg_ToolsLab p {
    margin: 10px 0;
  }
  .tables-tabs .nav-tabs li a{
    line-height: 1em;
    padding: 10px 5px;
    font-size: 70%;
  }
  .card-head > .nav-tabs {
    margin: 15px 0 0;
  }
  table.dataTable, table.dataTable th, table.dataTable td{
    font-size: 90%;
  }
  .card-body p {
    font-size: 13px;
    line-height: 1.4em;
  }
  .modal-title{
    line-height: 1.3em;
  }
  .btn{
    letter-spacing: 0px;
  }
  .card-body.verification p {
    line-height: 1.4em;
    font-size: 12px;
  }
  .help-block a{
    font-size: 12px;
  }
  .card-head > .nav-tabs.nav-styled li a{
    line-height: 2em;
  }
  .card-body{
    padding: 10px;
  }
  .card-head > .nav-tabs.nav-styled li a {
    font-size: 10px;
    padding: 0 4px;
    margin-right: 0;
  }
  .img_size{
    display: none;
  }
  .module-card{
    margin-left: 0;
  }
  .crm_dropdowns .col-sm-6 h4{
    margin: 20px 0 10px 0;
  }
  .autopay{
    display: block;
    clear: both;
  }
  .autopay .input-group-addon{
    text-align: left;
  }
  .amount p{
    font-size: 15px;
  }
  .amount select{
    opacity: 0.7;
    font-size: 15px;
    height: 22px;
  }
  .amount button{
    margin: 0 0 10px 0;
    clear: both;
  }
  .card-head header{
    font-size: 18px;
  }
  .navbar-search.expanded .form-group {
    max-width: 140px;
  }
  .reg-phone{
  line-height: 30px;
}
.disabled-data{
  padding-top: 50%;
}
}














