@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-ms-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes zoom-down {
    from {
        -webkit-transform-origin: top;
        -moz-transform-origin: top;
        -ms-transform-origin: top;
        transform-origin: top;
        -webkit-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
    }
    to {
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}
@-moz-keyframes zoom-down {
    from {
        -webkit-transform-origin: top;
        -moz-transform-origin: top;
        -ms-transform-origin: top;
        transform-origin: top;
        -webkit-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
    }
    to {
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}
@-o-keyframes zoom-down {
    from {
        -webkit-transform-origin: top;
        -moz-transform-origin: top;
        -ms-transform-origin: top;
        transform-origin: top;
        -webkit-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
    }
    to {
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}
@-ms-keyframes zoom-down {
    from {
        -webkit-transform-origin: top;
        -moz-transform-origin: top;
        -ms-transform-origin: top;
        transform-origin: top;
        -webkit-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
    }
    to {
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}
@keyframes zoom-down {
    from {
        -webkit-transform-origin: top;
        -moz-transform-origin: top;
        -ms-transform-origin: top;
        transform-origin: top;
        -webkit-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
    }
    to {
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}
@-webkit-keyframes zoom-up {
    from {
        -webkit-transform-origin: bottom;
        -moz-transform-origin: bottom;
        -ms-transform-origin: bottom;
        transform-origin: bottom;
        -webkit-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
    }
    to {
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}
@-moz-keyframes zoom-up {
    from {
        -webkit-transform-origin: bottom;
        -moz-transform-origin: bottom;
        -ms-transform-origin: bottom;
        transform-origin: bottom;
        -webkit-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
    }
    to {
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}
@-o-keyframes zoom-up {
    from {
        -webkit-transform-origin: bottom;
        -moz-transform-origin: bottom;
        -ms-transform-origin: bottom;
        transform-origin: bottom;
        -webkit-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
    }
    to {
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}
@-ms-keyframes zoom-up {
    from {
        -webkit-transform-origin: bottom;
        -moz-transform-origin: bottom;
        -ms-transform-origin: bottom;
        transform-origin: bottom;
        -webkit-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
    }
    to {
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}
@keyframes zoom-up {
    from {
        -webkit-transform-origin: bottom;
        -moz-transform-origin: bottom;
        -ms-transform-origin: bottom;
        transform-origin: bottom;
        -webkit-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
    }
    to {
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}
@-webkit-keyframes slide-right {
    from {
        -webkit-transform: translate(-20px, 0);
        -ms-transform: translate(-20px, 0);
        -o-transform: translate(-20px, 0);
        transform: translate(-20px, 0);
        opacity: 0;
    }
    to {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
    }
}
@-moz-keyframes slide-right {
    from {
        -webkit-transform: translate(-20px, 0);
        -ms-transform: translate(-20px, 0);
        -o-transform: translate(-20px, 0);
        transform: translate(-20px, 0);
        opacity: 0;
    }
    to {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
    }
}
@-o-keyframes slide-right {
    from {
        -webkit-transform: translate(-20px, 0);
        -ms-transform: translate(-20px, 0);
        -o-transform: translate(-20px, 0);
        transform: translate(-20px, 0);
        opacity: 0;
    }
    to {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
    }
}
@-ms-keyframes slide-right {
    from {
        -webkit-transform: translate(-20px, 0);
        -ms-transform: translate(-20px, 0);
        -o-transform: translate(-20px, 0);
        transform: translate(-20px, 0);
        opacity: 0;
    }
    to {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
    }
}
@keyframes slide-right {
    from {
        -webkit-transform: translate(-20px, 0);
        -ms-transform: translate(-20px, 0);
        -o-transform: translate(-20px, 0);
        transform: translate(-20px, 0);
        opacity: 0;
    }
    to {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
    }
}
@-webkit-keyframes slide-left {
    from {
        -webkit-transform: translate(20px, 0);
        -ms-transform: translate(20px, 0);
        -o-transform: translate(20px, 0);
        transform: translate(20px, 0);
        opacity: 0;
    }
    to {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
    }
}
@-moz-keyframes slide-left {
    from {
        -webkit-transform: translate(20px, 0);
        -ms-transform: translate(20px, 0);
        -o-transform: translate(20px, 0);
        transform: translate(20px, 0);
        opacity: 0;
    }
    to {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
    }
}
@-o-keyframes slide-left {
    from {
        -webkit-transform: translate(20px, 0);
        -ms-transform: translate(20px, 0);
        -o-transform: translate(20px, 0);
        transform: translate(20px, 0);
        opacity: 0;
    }
    to {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
    }
}
@-ms-keyframes slide-left {
    from {
        -webkit-transform: translate(20px, 0);
        -ms-transform: translate(20px, 0);
        -o-transform: translate(20px, 0);
        transform: translate(20px, 0);
        opacity: 0;
    }
    to {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
    }
}
@keyframes slide-left {
    from {
        -webkit-transform: translate(20px, 0);
        -ms-transform: translate(20px, 0);
        -o-transform: translate(20px, 0);
        transform: translate(20px, 0);
        opacity: 0;
    }
    to {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
    }
}
@-webkit-keyframes slide-down {
    from {
        -webkit-transform: translate(0, -20px);
        -ms-transform: translate(0, -20px);
        -o-transform: translate(0, -20px);
        transform: translate(0, -20px);
        opacity: 0;
    }
    to {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
    }
}
@-moz-keyframes slide-down {
    from {
        -webkit-transform: translate(0, -20px);
        -ms-transform: translate(0, -20px);
        -o-transform: translate(0, -20px);
        transform: translate(0, -20px);
        opacity: 0;
    }
    to {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
    }
}
@-o-keyframes slide-down {
    from {
        -webkit-transform: translate(0, -20px);
        -ms-transform: translate(0, -20px);
        -o-transform: translate(0, -20px);
        transform: translate(0, -20px);
        opacity: 0;
    }
    to {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
    }
}
@-ms-keyframes slide-down {
    from {
        -webkit-transform: translate(0, -20px);
        -ms-transform: translate(0, -20px);
        -o-transform: translate(0, -20px);
        transform: translate(0, -20px);
        opacity: 0;
    }
    to {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
    }
}
@keyframes slide-down {
    from {
        -webkit-transform: translate(0, -20px);
        -ms-transform: translate(0, -20px);
        -o-transform: translate(0, -20px);
        transform: translate(0, -20px);
        opacity: 0;
    }
    to {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
    }
}
@-webkit-keyframes slide-up {
    from {
        -webkit-transform: translate(0, 20px);
        -ms-transform: translate(0, 20px);
        -o-transform: translate(0, 20px);
        transform: translate(0, 20px);
        opacity: 0;
    }
    to {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
    }
}
@-moz-keyframes slide-up {
    from {
        -webkit-transform: translate(0, 20px);
        -ms-transform: translate(0, 20px);
        -o-transform: translate(0, 20px);
        transform: translate(0, 20px);
        opacity: 0;
    }
    to {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
    }
}
@-o-keyframes slide-up {
    from {
        -webkit-transform: translate(0, 20px);
        -ms-transform: translate(0, 20px);
        -o-transform: translate(0, 20px);
        transform: translate(0, 20px);
        opacity: 0;
    }
    to {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
    }
}
@-ms-keyframes slide-up {
    from {
        -webkit-transform: translate(0, 20px);
        -ms-transform: translate(0, 20px);
        -o-transform: translate(0, 20px);
        transform: translate(0, 20px);
        opacity: 0;
    }
    to {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
    }
}
@keyframes slide-up {
    from {
        -webkit-transform: translate(0, 20px);
        -ms-transform: translate(0, 20px);
        -o-transform: translate(0, 20px);
        transform: translate(0, 20px);
        opacity: 0;
    }
    to {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
    }
}
/*
// Example usage

.make-ratio(xs, 2, 1);
.make-ratio(xs, 3, 1);


// Small grid
//
// Small device range, from phones to tablets.

@media (min-width: @screen-sm-min) {
	.make-ratio(sm, 2, 1);
	.make-ratio(sm, 3, 1);
}


// Medium grid
//
// For the desktop device range.

@media (min-width: @screen-md-min) {
	.make-ratio(md, 2, 1);
	.make-ratio(md, 3, 1);
}


// Large grid
//
// For the large desktop device range.

@media (min-width: @screen-lg-min) {
	.make-ratio(lg, 2, 1);
	.make-ratio(lg, 3, 1);
}
*/
.toast-title {
    font-weight: bold;
}
.toast-message {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
.toast-message a,
.toast-message label {
    color: #ffffff;
}
.toast-message a:hover {
    color: #f2f3f3;
    text-decoration: none;
}
.toast-close-button {
    position: relative;
    right: -0.3em;
    top: -0.3em;
    float: right;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    -webkit-text-shadow: 0 1px 0 #ffffff;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.8;
    filter: alpha(opacity=80);
    /*	@opacityPercent: @opacity * 100;
      opacity: @opacity;
      -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(Opacity=@{opacityPercent})";
      filter: ~"alpha(opacity=@{opacityPercent})";*/
}
.toast-close-button:hover,
.toast-close-button:focus {
    color: #0c0c0c;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.4;
    filter: alpha(opacity=40);
    /*	@opacityPercent: @opacity * 100;
      opacity: @opacity;
      -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(Opacity=@{opacityPercent})";
      filter: ~"alpha(opacity=@{opacityPercent})";*/
}
/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}
.toast-top-center {
    top: 0;
    right: 0;
    width: 100%;
}
.toast-bottom-center {
    bottom: 0;
    right: 0;
    width: 100%;
}
.toast-top-full-width {
    top: 0;
    right: 0;
    width: 100%;
}
.toast-bottom-full-width {
    bottom: 0;
    right: 0;
    width: 100%;
}
.toast-top-left {
    top: 12px;
    left: 12px;
}
.toast-top-right {
    top: 12px;
    right: 12px;
}
.toast-bottom-right {
    right: 12px;
    bottom: 12px;
}
.toast-bottom-left {
    bottom: 12px;
    left: 12px;
}
#toast-container {
    position: fixed;
    z-index: 2000;
    /*overrides*/
}
#toast-container * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#toast-container > div {
    position: relative;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 15px 15px 15px 50px;
    width: 300px;
    /*	-moz-border-radius: @radius;
      -webkit-border-radius: @radius;
      border-radius: @radius;*/
    background-position: 15px center;
    background-repeat: no-repeat;
    /*	-moz-box-shadow: @boxShadow;
      -webkit-box-shadow: @boxShadow;
      box-shadow: @boxShadow;*/
    color: #ffffff;
    opacity: 0.8;
    filter: alpha(opacity=80);
    /*	@opacityPercent: @opacity * 100;
      opacity: @opacity;
      -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(Opacity=@{opacityPercent})";
      filter: ~"alpha(opacity=@{opacityPercent})";*/
}
#toast-container > :hover {
    /*	-moz-box-shadow: @boxShadow;
      -webkit-box-shadow: @boxShadow;
      box-shadow: @boxShadow;*/
    opacity: 1;
    filter: alpha(opacity=100);
    /*	@opacityPercent: @opacity * 100;
      opacity: @opacity;
      -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(Opacity=@{opacityPercent})";
      filter: ~"alpha(opacity=@{opacityPercent})";*/
    cursor: pointer;
}
#toast-container.toast-top-center > div,
#toast-container.toast-bottom-center > div {
    width: 300px;
    margin: auto;
}
#toast-container.toast-top-full-width > div,
#toast-container.toast-bottom-full-width > div {
    width: 96%;
    margin: auto;
}
.toast {
    background-color: #030303;
}
.toast-default {
    background-color: #030303;
}
.toast-success {
    background-color: #4caf50;
}
.toast-error {
    background-color: #f44336;
}
.toast-info {
    background-color: #20252b;
}
.toast-warning {
    background-color: #ff9800;
}
.toast-progress {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    background-color: #0c0c0c;
    opacity: 0.4;
    filter: alpha(opacity=40);
    /*	@opacityPercent: @opacity * 100;
      opacity: @opacity;
      -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(Opacity=@{opacityPercent})";
      filter: ~"alpha(opacity=@{opacityPercent})";*/
}
/*Responsive Design*/
@media all and (max-width: 240px) {
    #toast-container > div {
        padding: 8px 8px 8px 50px;
        width: 11em;
    }
    #toast-container .toast-close-button {
        right: -0.2em;
        top: -0.2em;
    }
}
@media all and (min-width: 241px) and (max-width: 480px) {
    #toast-container > div {
        padding: 8px 8px 8px 50px;
        width: 18em;
    }
    #toast-container .toast-close-button {
        right: -0.2em;
        top: -0.2em;
    }
}
@media all and (min-width: 481px) and (max-width: 768px) {
    #toast-container > div {
        padding: 15px 15px 15px 50px;
        width: 25em;
    }
}
#toast-container > div {
    margin-bottom: 8px;
    padding: 12px 24px;
    width: auto;
    min-width: 288px;
    max-width: 568px;
    opacity: 1;
    filter: alpha(opacity=100);
    /*	@opacityPercent: @opacity * 100;
      opacity: @opacity;
      -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(Opacity=@{opacityPercent})";
      filter: ~"alpha(opacity=@{opacityPercent})";*/
}
#toast-container.toast-bottom-left > div,
#toast-container.toast-bottom-center > div,
#toast-container.toast-bottom-right > div,
#toast-container.toast-bottom-full-width > div {
    margin-top: 8px;
    margin-bottom: 0;
}
#toast-container.toast-top-center > div,
#toast-container.toast-top-full-width > div {
    margin-bottom: 8px;
}
.toast-top-left,
.toast-top-center,
.toast-top-right,
#toast-container.toast-top-full-width {
    top: 24px;
}
.header-fixed .toast-top-left,
.header-fixed .toast-top-center,
.header-fixed .toast-top-right,
.header-fixed #toast-container.toast-top-full-width {
    top: 88px;
}
.toast-top-left,
.toast-bottom-left,
#toast-container.toast-top-full-width,
#toast-container.toast-bottom-full-width {
    left: 88px;
}
.toast-top-right,
.toast-bottom-right,
#toast-container.toast-top-full-width,
#toast-container.toast-bottom-full-width {
    right: 24px;
}
.toast-bottom-left,
.toast-bottom-center,
.toast-bottom-right,
#toast-container.toast-bottom-full-width {
    bottom: 24px;
}
#toast-container.toast-top-full-width,
#toast-container.toast-bottom-full-width {
    width: auto;
}
#toast-container.toast-top-full-width > div,
#toast-container.toast-bottom-full-width > div {
    width: 100%;
    max-width: 100%;
}
.toast-close-button,
button.toast-close-button {
    right: 0;
    top: 0;
    display: inline-block;
    margin: -6px -14px -6px 0;
    width: 36px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    border-radius: 999px !important;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 4.5px 0;
    font-size: 13px;
    line-height: 1.846153846;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-shadow: none;
    opacity: 1;
    filter: alpha(opacity=100);
    /*	@opacityPercent: @opacity * 100;
      opacity: @opacity;
      -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(Opacity=@{opacityPercent})";
      filter: ~"alpha(opacity=@{opacityPercent})";*/
}
.toast-close-button.btn-flat,
button.toast-close-button.btn-flat {
    padding: 4.5px 0;
}
.toast-close-button:hover,
button.toast-close-button:hover,
.toast-close-button:focus,
button.toast-close-button:focus {
    background-color: rgba(12, 12, 12, 0.07);
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: inherit;
    opacity: 1;
    filter: alpha(opacity=100);
    /*	@opacityPercent: @opacity * 100;
      opacity: @opacity;
      -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(Opacity=@{opacityPercent})";
      filter: ~"alpha(opacity=@{opacityPercent})";*/
}
.toast-info .toast-progress {
    background: #ffffff;
}
.toastr-action {
    float: right;
    margin-top: -6px;
    margin-bottom: -6px;
}
.toastr-action:last-child {
    margin-left: 24px;
}
@media (min-width: 1200px) {
    .menubar-pin .toast-top-left,
    .menubar-pin .toast-bottom-left,
    .menubar-pin #toast-container.toast-top-full-width,
    .menubar-pin #toast-container.toast-bottom-full-width {
        left: 264px;
    }
}
@media (max-width: 769px) {
    .toast-top-left,
    .toast-top-center,
    .toast-top-right,
    #toast-container.toast-top-full-width {
        top: 0;
    }
    .header-fixed .toast-top-left,
    .header-fixed .toast-top-center,
    .header-fixed .toast-top-right,
    .header-fixed #toast-container.toast-top-full-width {
        top: 64px;
    }
    .toast-top-left,
    .toast-bottom-left,
    #toast-container.toast-top-full-width,
    #toast-container.toast-bottom-full-width {
        left: 0;
    }
    .toast-top-right,
    .toast-bottom-right,
    #toast-container.toast-top-full-width,
    #toast-container.toast-bottom-full-width {
        right: 0;
    }
    .toast-bottom-left,
    .toast-bottom-center,
    .toast-bottom-right,
    #toast-container.toast-bottom-full-width {
        bottom: 0;
    }
}

