.ui-widget-content {
    background: #fff url("../../images/jquery-ui/ui-bg_flat_75_ffffff_40x100.png") 50% 50% repeat-x;
}

.ui-widget-header {
    background: #c00 url("../../images/jquery-ui/ui-bg_highlight-soft_15_cc0000_1x100.png") 50% 50% repeat-x;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #eee url("../../images/jquery-ui/ui-bg_highlight-hard_100_eeeeee_1x100.png") 50% 50% repeat-x;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    background: #f6f6f6 url("../../images/jquery-ui/ui-bg_highlight-hard_100_f6f6f6_1x100.png") 50% 50% repeat-x;
}


.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background: #fff url("../../images/jquery-ui/ui-bg_flat_65_ffffff_40x100.png") 50% 50% repeat-x;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background: #fbf8ee url("../../images/jquery-ui/ui-bg_glass_55_fbf8ee_1x400.png") 50% 50% repeat-x;
}

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
    border: 1px solid #c00;
    background: #f3d8d8 url("../../images/jquery-ui/ui-bg_diagonals-thick_75_f3d8d8_40x40.png") 50% 50% repeat;
    color: #2e2e2e
}

.ui-icon, .ui-widget-content .ui-icon {
    background-image: url("../../images/jquery-ui/ui-icons_cc0000_256x240.png")
}

.ui-widget-header .ui-icon {
    background-image: url("../../images/jquery-ui/ui-icons_ffffff_256x240.png")
}

.ui-state-default .ui-icon {
    background-image: url("../../images/jquery-ui/ui-icons_cc0000_256x240.png")
}

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {
    background-image: url("../../images/jquery-ui/ui-icons_cc0000_256x240.png")
}

.ui-state-active .ui-icon {
    background-image: url("../../images/jquery-ui/ui-icons_cc0000_256x240.png")
}

.ui-state-highlight .ui-icon {
    background-image: url("../../images/jquery-ui/ui-icons_004276_256x240.png")
}

.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {
    background-image: url("../../images/jquery-ui/ui-icons_cc0000_256x240.png")
}
